.welcome-section {
	background: $gray-200;
	padding: 2rem 0;
	.payment-form {
		width: 100%;
	}
	.transfer-confirmation-buttons {
		margin-top: 1rem;
	}
}

@media only screen and (min-width:992px) {
	.welcome-section {
		padding: 4rem 0;
		.payment-form {
			width: 100%;
			max-width: 100%;
		}
		.transfer-confirmation-buttons {
			margin-top: 2rem;
		}
	}
}

.account-content {
	padding-top: 2rem;
	padding-bottom: 4rem;
}

@media only screen and (min-width:992px) { 
	.account-content {
		padding-top: 4rem;
		padding-bottom: 7rem;
	}
}

// Sectioning Dashboard
.dashboard-section {
	margin-bottom: 2rem;
}

// Section Title
.dashboard-section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
}

.dashboard-section-title {
	font-size: 1.25rem;
	line-height: 1.4;
	margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
	.dashboard-section-title {
		font-size: 1.5rem;
		line-height: 1.25;
	}
}

// Account Navigation

.account-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex-direction: row;
	overflow-x: scroll;
	align-items: center;
	margin-bottom: -1rem;
	li {
		display: block;
		margin-bottom: 1rem;
		margin-right: 0.5rem;
		a {
			display: flex;
			align-items: center;
			width: 100%;
			padding: calc(0.5rem + 1px) 1rem;
			font-size: 0.875rem;
			color: $gray-900;
			white-space: nowrap;
			user-select: none;
			border-radius: 2rem;
			border: 2px solid $gray-200;
			line-height: 1.25rem;
			&.active {
				background: $gray-200;
			}
			i.bx {
				margin-right: 0.5rem;
				color: $gray-600;
				font-size: 1rem;
			}
		}
	}
}

@media only screen and (min-width:992px) {
	.account-navigation {
		flex-direction: column;
		overflow-x: hidden;
		margin-bottom: 1rem;
		li {
			width: 100%;
			margin-right: 0;
			margin-bottom: 0.5rem;
			a {
				font-size: 1rem;
				border-radius: 2px;
				border-color: transparent;
				i.bx {
					font-size: 1.5rem;
				}
				&:hover {
					background: $gray-200;
				}
			}
		}
	}
}

.recipient-legend {
	display: flex;
	justify-content: center;
	.recipient-legend-flag {
		margin-right: -0.5rem;
		width: 2.5rem;
		height: 2.5rem;
		flex: 0 0 2.5rem;
	}
	.recipient-legend-avatar {
		margin-left: -0.5rem;
		display: flex;
		text-align: center;
		text-transform: uppercase;
		background: $gray-200;
		color: $gray-600;
		font-weight: 600;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
		flex: 0 0 2.5rem;
		border-radius: 2rem;
	}
}

.recipient-grid-item {
	transition: all 0.4s ease;
	width: 100%;
	text-align: center;
	.recipient-content-control {
		left: -1px;
		display: none;
		opacity: 0;
		position: absolute;
		text-align: center;
		right: -1px;
		transition: all 0.5s ease;
		bottom: -1.25rem;
		.btn {
			border-radius: 0 0 4px 4px;
			text-transform: uppercase;
			font-size: 0.675rem;
			font-weight: 500;
		}
	}
	&:hover {
		z-index: 2;
		.recipient-content-control {
			opacity: 1;
			display: block;
		}
	}
}

.account-card {
	background: #fff;
	border: 1px solid $gray-200;
	border-radius: 2px;
	transition: all 0.2s ease;
	position: relative;
	dl {
		font-size: 0.875rem;
	}
	.card-body {
		padding: 1.25rem 1rem;
		position: relative;
	}
	.account-card-dropdown {
		position: absolute;
		right: 0.25rem;
		top: 0.25rem;
		transition: all 0.2s ease;
		.btn {
			display: flex;
			opacity: 0;
			justify-content: center;
			align-items: center;
			padding: 0;
			width: 2rem;
			height: 2rem;
			border-radius: 2rem;
			color: $gray-600;
			&:hover {
				background: $gray-100;
				color: $gray-900;
			}
		}
	}
	&:hover {
		box-shadow: 0 12px 16px -8px rgba(0,0,0,0.1);
		border-color: $gray-300;
		border-radius: 0.25rem;
		.account-card-dropdown {
			.btn {
				opacity: 1;
			}
		}
	}
}

.card-check {
	position: relative;
	label {
		cursor: pointer;
	}
	.card-check-input {
		position: absolute;
		top: 0.25rem;
		left: 0.5rem;
		z-index: 4;
	}
	.cvv-input {
		display: none;
	}
	.card-check-input[type="radio"]:checked + label.account-card {
		border: 1px solid $green;
		&.payment-method-card {
			.card-body {
				padding: 0.5rem;
			}
			.cvv-input {
				display: block;
			}
			.text-center img {
				height: 1rem;
			}
		}
	}
}



.scale-on-hover {
	&:hover {
		transform: scale(1.06);
	}
}

.card-toggle-btn {
	font-size: 2rem;
	color: $gray-600;
	transform: none;
	line-height: 1;
	&.collapsed {
		i.bx {
			transform: rotate(180deg);
		}
	}
	&:hover {
		color: $gray-800;
	}
}

// Transaction Timeline

.transaction-timeline {
	
}

.transaction-timeline-item {
	display: block;
	position: relative;
	padding: 0.5rem 1rem 0.5rem 1.5rem;
	&:not(:last-child)::before {
		display: block;
		content: '';
		width: 2px;
		bottom: 0;
		background: $gray-200;
		border-radius: 1rem;
		left: 7px;
		position: absolute;
		top: 2rem;
	}
	&-date {
		text-transform: uppercase;
		color: $gray-600;
		font-weight: 600;
		font-size: 0.75rem;
		position: relative;
		&::before {
			position: absolute;
			display: block;
			left: -24px;
			top: 1px;
			width: 1rem;
			height: 1rem;
			content: '';
			border: 1px solid $gray-300;
			border-radius: 1rem;
			background: #fff;
		}
		&::after {
			content: '';
			width: 9px;
			height: 5px;
			transform: rotate(-45deg);
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
			position: absolute;
			left: -20px;
			top: 6px;
		}
	}
	&-content {
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-top: 0.25rem;
	}
	&-helper {
		font-size: 0.75rem;
		margin-top: 0.25rem;
	}
	&.step-completed {
		&::before {
			background: $green;
		}
		.transaction-timeline-item-date {
			&::before {
				border: 1px solid $green;
				background: $green;
			}
		}
	}
	&.step-current {
		.transaction-timeline-item-date {
			&::before {
				border: 1px solid $green;
				background: $green;
			}
		}
		.transaction-timeline-item-content {
			font-weight: 600;
			color: $green;
		}
	}
}


// Add New Button

a.account-add-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	border: 1px dashed $green;
	background: rgba($green, 10%);
	border-radius: 2px;
	color: darken($green, 10%);
	font-weight: 600;
	font-size: 0.875rem;
	padding: 1.5rem 1rem;
	i.bx {
		font-size: 1.5rem;
	}
	&:hover {
		background: rgba($green, 15%);
	}
}

.form-toggle-btn {
	background: $gray-300;
	font-weight: 600;
	font-size: 0.875rem;
	content: 'Close';
	color: $gray-600;
	&:focus {
		color: $gray-600;
	}
	.visible-on-collapse {
		display: none;
	}
	.hidden-on-collapse {
		display: block;
	}
	&.collapsed {
		background: $primary;
		color: #fff;
		.visible-on-collapse {
			display: block;
		}
		.hidden-on-collapse {
			display: none;
		}
	}
}

// Recipient List

.bookmark-btn {
	font-size: 1.5rem;
	position: relative;
	z-index: 9;
	color: $gray-300;
	&:hover {
		color: $primary;
	}
}

.recipient-list-item-card {
	&.featured {
		.bookmark-btn {
			color: $primary;
		}
	}
}