// Footer

.footer-menu {
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	list-style-type: none;
	margin: 0 0 1rem 0;
	padding: 0;
	text-align: center;
}

@media only screen and (min-width:992px) {
	.footer-menu {
		flex-direction: row;
		font-size: 1rem;
		li {
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}

.destination-btn-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
}

a.destination-btn {
	background: $gray-900;
	border: 1px solid $gray-700;
	border-radius: 2px;
	color: #fff;
	flex: 0 0 134px;
	padding: 0.5rem;
	margin: 0.25rem;
	user-select: none;
	width: 134px;
	img {
		height: 2rem;
		width: 2rem;
		margin: 0 auto 0.5rem;
	}
	&:hover {
		background: $gray-800;
		border-color: $primary;
	}
	@media only screen and (min-width: 992px) {
		flex: 0 0 150px;
		margin: 0.5rem;
		width: 150px;
	}
}