// Header CSS

.header {
	align-items: center;
	background-color: rgba(#FAF6F6, 30%);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	display: flex;
	flex-direction: row;
	font-size: 0.875rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	@media only screen and (min-width: 768px) {
		font-size: 1rem;
	}
	.nav {
		a.nav-link {
			color: $gray-900;
			&:hover {
				color: $gray-600;
			}
		}
	}
	.header-inset {
		align-items: center;
		display: flex;
		margin: auto;
		width: 100%;
		max-width: 100rem;
	}
}

.balance-box  {
	overflow: hidden;
	border-radius: 0.5rem;
	background: $gray-100;
	.btn {
		border-radius: 0;
	}
}
@media only screen and (min-width:992px) {
	.balance-box {
		max-width: 20rem;
	}
}

.balance-box-controls {
	display: flex;
	width: 100%;
	border-radius: 0 0 0.5rem 0.5rem;
	a.btn {
		width: 100%;
	}
}

.border-temp {
	border: 1px dotted olive;
}


.menu-btn {
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	height: 3.5rem;
	justify-content: center;
	padding: 0.5rem 0.75rem;
	&:hover {
		background: $gray-100;
	}
}

a.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	margin: 0.25rem 0 0.25rem 0.5rem;
	width: 2.5rem;
	flex: 0 0 2.5rem;
	img {
		width: 100%;
	}
	@media only screen and (min-width:992px) {
		height: 5rem;
		margin-left: 2rem;
		width: 5rem;
		margin-right: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		flex: 0 0 5rem;
	}
}

.language-select {
	cursor: pointer;
	& > a {
		align-items: center;
		display: flex;
		padding: 0.5rem 1rem 0.5rem 0.75rem;
		border-radius: 2rem;
	}
	.dropdown-menu {
		font-size: 0.875rem;
		line-height: 1.5rem;
	}
	&:hover {
		& > a {
			background: $gray-100;
		}
	}
	i.country-flag {
		width: 1.5rem;
		flex: 0 0 1.5rem;
	}
}

.mobile-login-toggle {
	align-items: center;
	display: flex;
	font-size: 1.5rem;
}


.account-header {
	font-size: 0.875rem;
	border-bottom: 1px solid $gray-200;
	@media only screen and (min-width: 768px) {
		font-size: 1rem;
	}
	.nav {
		a.nav-link {
			color: $gray-900;
			&:hover {
				color: $gray-600;
			}
		}
	}
	.header-inset {
		align-items: center;
		background-color: rgba(#FAF6F6, 30%);
		display: flex;
		flex-direction: row;
		position: relative;
		top: 0;
		width: 100%;
		padding: 0.5rem 0;
	}
}

@media only screen and (min-width: 992px) {
	.account-header {
		.header-inset {
			padding: 0;
		}
	}
}

.btn-cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 4rem;
	float: right;
	border-left: 1px solid $gray-200;
	background: transparent;
	text-transform: uppercase;
	color: $gray-600;
	user-select: none;
	i.bx {
		font-size: 1.5rem;
	}
	&:hover {
		background: $gray-100;
		color: $gray-900;
	}
}

@media only screen and (min-width:992px) {
	.btn-cancel {
		width: 10rem;
	}
}

.transfer-progress {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 0 1rem;
}

.transfer-progress-step {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	font-weight: 600;
	position: relative;
	&:not(:first-child) {
		&::before {
			content: '';
			width: 10%;
			height: 2px;
			background: $gray-200;
			top: 11px;
			border-radius: 0 4px 4px 0;
			position: absolute;
			left: 0;
		}
	}
	&:not(:last-child) {
		&::after {
			content: '';
			width: 10%;
			height: 2px;
			background: $gray-200;
			top: 11px;
			border-radius: 0 4px 4px 0;
			position: absolute;
			right: 0;
		}
	}
	&-number {
		display: flex;
		width: 1.5rem;
		height: 1.5rem;
		justify-content: center;
		align-items: center;
		background: $gray-200;
		border-radius: 2rem;
		color: $gray-600;
		border: 2px solid transparent;
		font-size: 0.75rem;
		line-height: 1.25rem;
		z-index: 2;
	}
	&-name {
		font-size: 0.75rem;
		line-height: 1.25rem;
		margin-top: 0.25rem;
		color: $gray-600;
		display: none;
	}
	&:hover {
		.transfer-progress-step-number {
			border-color: rgba(0,0,0,0.1);
		}
	}
	&.step-current {
		.transfer-progress-step-number {
			background: $gray-500;
			color: white;
		}
		.transfer-progress-step-name {
			color: $gray-900;
		}
	}
	&.step-done {
		.transfer-progress-step-number {
			background: $green;
			color: white;
		}
	}
}

@media only screen and (min-width:992px) {
	.transfer-progress-step-name {
		display: block;
	}
	.transfer-progress-step-number {
		width: 2rem;
		height: 2rem;
		font-size: 0.875rem;
	}
	.transfer-progress-step {
		&:not(:first-child) {
			&::before {
				width: 35%;
				height: 2px;
				top: 15px;
			}
		}
		&:not(:last-child) {
			&::after {
				width: 35%;
				height: 2px;
				top: 15px;
			}
		}
	}
}