
.bg-dots {
	background: url(../img/pattern.svg) left top repeat;
}

img {
	max-width: 100%;
}

.link-white {
	color: #fff;
	&:hover {
		color: $gray-300;
	}
}

.bg-semidark {
	background: $gray-800;
}

.bg-semilight {
	background: $gray-200;
}

.text-md {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.fw-500 {
	font-weight: 500;
}

.text-xs {
	font-size: 0.75rem;
}

.text-lg {
	font-size: 1.125rem;
}

.bg-semidark, .bg-dark {
	p.text-muted, .text-muted {
		color: $gray-300 !important;
	}
}

.divider-line {
	display: block;
	height: 0.5rem;
	background: url(../img/pattern.svg) left top repeat;
	width: 100%;
	margin: 2rem auto;
}

.z-index-2 {
	z-index: 2;
}

.md-title {
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 600;
	text-transform: uppercase;
	color: $gray-600;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.marked-top-right, .marked-top-left {
	position: relative;
	&::before {
		background: url(../img/pattern.svg) left top repeat;
		content: '';
		height: 1.5rem;
		width: 50%;
		position: absolute;
	}
}

.marked-bottom-right, .marked-bottom-left {
	position: relative;
	&::after {
		background: url(../img/pattern.svg) left top repeat;
		content: '';
		height: 1.5rem;
		width: 50%;
		position: absolute;
	}
}

.marked-top-right {
	&::before {
		top: -1.5rem;
		right: 0;
	}
}

.marked-top-left {
	&::before {
		top: -1.5rem;
		left: 0;
	}
}
.marked-bottom-right {
	&::after {
		bottom: -1.5rem;
		right: 0;
	}
}

.marked-bottom-left {
	&::after {
		bottom: -1.5rem;
		left: 0;
	}
}

.badge.bg-warning {
	color: rgba(0,0,0,0.7);
}

@media only screen and (min-width: 992px) {
	.marked-bottom-right, .marked-bottom-left {
		&::after {
			height: 2rem;
			bottom: -2rem;
		}
	}
	.marked-top-right, .marked-top-left {
		&::before {
			height: 2rem;
			top: -2rem;
		}
	}
}

.nav-link {
	cursor: pointer;
}

.btn-fb {
	background: #39579A;
	color: #fff;
	align-items: center;
	display: flex;
	justify-content: center;
	&:hover {
		background: darken(#39579A, 10%);
		color: #fff;
	}
}

.btn-gl {
	background: #D94F3D;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #fff;
	&:hover {
		background: darken(#D94F3D, 10%);
		color: #fff;
	}
}

.active-dark.active {
	color: $gray-900 !important;
}

.active-muted.active {
	color: $gray-600;
}
.cursor-pointer {
	cursor: pointer;
}
