
.delivery-method-img {
	height: 100% !important;
}

.delivery-method {
	height: 100%;
}

.delivery-method-text {
	font-size: 0.875rem;
	line-height: 1.25rem;
}


@media only screen and (min-width:992px) {
	.delivery-method {
		min-height: 15rem;
	}
	.delivery-method-text {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.delivery-method-01 {
	.delivery-method-img {
		background: url(../img/image_02.png) center no-repeat;
		background-size: cover;
	}
}

.delivery-method-02 {
	.delivery-method-img {
		background: url(../img/image_03.png) center no-repeat;
		background-size: cover;
	}
}

.delivery-method-03 {
	.delivery-method-img {
		background: url(../img/image_04.png) center no-repeat;
		background-size: cover;
	}
}

.delivery-method-04 {
	.delivery-method-img {
		background: url(../img/image_05.png) center no-repeat;
		background-size: cover;
	}
}

.process-card {
	position: relative;
	height: 100%;
	.process-card-text {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	.process-card-number {
		position: absolute;
		left: 1rem;
		font-size: 1.5rem;
		line-height: 1.25;
		font-weight: 600;
		top: 1rem;
	}
	.process-card-icon {
		height: 3rem;
		width: 3rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 2.75rem;
			z-index: 2;
		}
		&::after {
			content: '';
			position: absolute;
			background: url(../img/pattern.svg) repeat;
			height: 1.5rem;
			width: 1.5rem;
			display: block;
		}
	}
	&.process-item-01 {
		.process-card-icon {
			&::after {
				left: 0;
				top: 0;
			}
		}
	}
	&.process-item-02 {
		.process-card-icon {
			&::after {
				left: 0;
				bottom: 0;
			}
		}
	}
	&.process-item-03 {
		.process-card-icon {
			&::after {
				right: 0;
				bottom: 0;
			}
		}
	}
}

@media only screen and (min-width:992px) {
	.process-card {
		.process-card-text {
			font-size: 1rem;
			line-height: 1.5rem;
		}
		.process-card-icon {
			width: 4rem;
			height: 4rem;
			img {
				width: 3.5rem;
			}
			&::after {
				width: 2rem;
				height: 2rem;
			}
		}
		.process-card-number {
			font-size: 2rem;
		}
		h6.card-title {
			font-size: 1.25rem;
			line-height: 1.4;
		}
	}
}



.app-markets {
	margin-bottom: 5rem;
	background: $gray-200;
	padding: 3rem 0;
}


.hero-section {
	h1.hero-section-title {
		font-size: 1.75rem;
		line-height: 1.25;
	}
	.hero-section-subtitle {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	.transfer-confirmation-buttons {
		margin-top: 1rem;
	}
}

@media only screen and (min-width: 992px) {
	.hero-section {
		.transfer-confirmation-buttons {
			margin-top: 3rem;
		}
	}
	.hero-img {
		height: 560px;
		width: 100%;
		margin-bottom: -8rem;
		z-index: 4;
		position: relative;
		&::after {
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			position: relative;
			left: 0;
			top: 0;
			background: url(../img/hero-img.png) center no-repeat;
			background-size: cover;
			border-radius: 10rem;
		}
		&::before {
			display: block;
			content: '';
			position: absolute;
			top: 1rem;
			right: -4rem;
			height: 45%;
			width: 40%;
			background: url(../img/pattern.svg) repeat;
			z-index: 0;
		}
	}
	.hero-section {
		h1.hero-section-title {
			font-size: 5vh;
			margin-top: 4rem;
		}
		.hero-section-subtitle {
			font-size: 1.25rem;
			line-height: 1.25;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.hero-img {
		height: 720px;
		margin-bottom: -8rem;
		&::after {
			border-radius: 14rem;
		}
	}
}