// Layout CSS

body {
	position: relative;
	z-index: 1;
}

.screen-overlay {
  width:0%;
  height: 100vh;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
	right: 0;
	bottom: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

@media only screen and (max-width: 767px) {
	.screen-overlay.show {
		transition:opacity .5s ease, width 0s;
		opacity:1;
		width:100%;
		visibility:visible;
	}
}
.page {
	display: block;
	min-height: 100vh;
	position: relative;
	width: 100%;
}

.content {
	padding-top: 112px;
	min-height: 70vh;
}

#sidebarLeft {
	display: block;
	height: 100vh;
	left: -280px;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	transition: all 0.2s ease-in-out;
	width: 280px;
	z-index: 999;
}
body.offcanvas-active {
	#sidebarLeft{
		left: 0;
	}
}

.sidebar-nav {
	display: block;
	font-size: 0.875rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: block;
		padding: 0 1.25rem;
		width: 100%;
	}
	a:not(.btn) {
		border-bottom: 1px solid $gray-100;
		color: $gray-900;
		display: block;
		padding: 0.5rem 0;
		font-weight: 500;
		width: 100%;
		&:hover {
			border-color: $gray-300;
		}
	}
}
