.modal-backdrop {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.modal-header, .modal-footer {
	background: $gray-100;
}

.login-modal {
	min-height: 100%;
	display: flex;
}

.login-modal-content {
	position: relative;
	width: 100%;
	padding: 3rem 0;
	min-height: 100%;
	background: $body-bg;
	overflow-y: scroll;
	.btn-close {
		position: absolute;
		width: 3rem;
		height: 3rem;
		right: 0rem;
		top: 0rem;
	}
}
.login-modal-img {
	display: none;
	position: relative;
}

@media only screen and (min-width: 992px) {
	.login-modal-content {
		display: flex;
		align-items: center;
		justify-content: center;
		.btn-close {
			top: 1rem;
			right: 1rem;
		}
	}
	.login-modal-img {
		align-items: center;
		background: url(../img/login-bg.jpg) center no-repeat;
		background-size: cover;
		display: flex;
		width: 50%;
		//height: 100%;
		flex-direction: column;
		justify-content: space-between;
		&::after {
			display: block;
			content: '';
			background: rgba(0,0,0,0.5);
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
		}
	}
	.login-modal-content {
		width: 50%;
	}
}

.login-modal-title {
	color: #fff;
	font-size: 7vh;
	margin-bottom: 1vh;
}
.login-modal-subtitle {
	color: rgba(255,255,255,0.7);
	font-size: 3.5vh;
}