// Review Section

.section-review {
	display: block;
	margin-top: 2rem;
	width: 100%;
	margin-bottom: 4rem;
}

.review-section-title {
	text-align: right;
	height: 292px;
	background: url(../img/image_01.jpg) no-repeat left top darken($gray-900, 50%);
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-bottom: 4rem;
}

.review-section-title-text { 
	font-size: 1.5rem;
	line-height: 1.25;
	font-weight: 700;
}

@media only screen and (min-width:992px) {
	.review-section-title {
		background-size: 50%;
		height: 320px;
		align-items: center;
		padding-top: 3rem;
	}
	.review-section-title-text {
		font-size: 3rem;
		text-align: left;
	}
}

@media only screen and (min-width: 1200px) {
	.review-section-title {
		background-size: 50%;
		height: 480px;
		padding-top: 4rem;
	}
	.review-section-title-text {
		font-size: 4.5rem;
		text-align: left;
	}
}

// Reviews


.review-grid {
	display: flex;
	justify-content: flex-start;
	overflow-y: hidden;
	overflow-x: visible;
	align-items: flex-start;
	padding: 0;
	z-index: 2;
	position: relative;
	margin-top: -3rem;
	&-content {
		overflow-y: none;
		overflow-x: scroll;
		padding: 0 1rem 1.25rem 1rem;
		margin-bottom: -1.25rem;
		display: flex;
		align-items: flex-start;
	}
}

.review-item {
	background: #fff;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	flex: 0 0 252px;
	width: 252px;
	margin-right: 0.5rem;
	&-legend {
		align-items: center;
		display: flex;
		margin-bottom: 1rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		width: 100%;
	}
	&-avatar {
		border-radius: 2rem;
		height: 2.5rem;
		width: 2.5rem;
		overflow: hidden;
		margin-right: 0.75rem;
		flex: 0 0 2.5rem;
		img {
			width: 100%;
		}
	}
	&-author {
		margin-bottom: 0.25rem;
	}
	&-title {
		font-size: 0.875rem;
		font-weight: 600;
		margin-bottom: 0.25rem;
		line-height: 1.25rem;
	}
	&-text {
		font-size: 0.75rem;
		max-height: 4rem;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}
}
.review-grid-content {
	align-items: stretch;
}

@media only screen and (min-width: 992px) {
	.review-grid {
		margin-top: -4rem;
	}
	.review-item {
		&-title {
			font-size: 1.25rem;
			margin-bottom: 0.5rem;
			line-height: 1.4;
		}
		&-text {
			font-size: 0.875rem;
		}
	}
}

.review-item-stars {
	display: flex;
	img {
		height: 1rem;
		width: 1rem;
		margin: 0 1px
	}
}

@media only screen and (min-width: 992px) {
	.review-grid {
		margin-top: -5rem;
		margin-left: auto;
		margin-right: auto;
		overflow: visible;
		max-width: 1200px;
		height: auto;
		&-content {
			overflow: auto;
			padding: 0 1rem 1.25rem 1rem;
			display: block;
			width: 100%;
			column-count: 3;
			height: auto;
		}
	}
	.review-item {
		width: auto;
		margin-bottom: 1rem;
		display: inline-block;
	}
}