// Transfer Form

.payment-form {
	max-width: 560px;
}

.payment-form-row {
	display: flex;
	width: 100%;
	border-radius: 8px;
	background: #fff;
	margin-bottom: 0.5rem;
}

.payment-form-input {
	display: block;
	position: relative;
	border: 1px solid $gray-300;
	border-radius: 8px 0 0 8px;
	border-right: none;
	width: 100%;
	input {
		background: none;
		border: none;
		font-size: 1rem;
		outline: none !important;
		width: 100%;
		height: 100%;
		border-radius: 7px 0 0 7px;
		color: $gray-800;
		&::placeholder {
			color: $gray-600;
		}
	}
	label {
		position: absolute;
		left: 1rem;
		color: $gray-600;
		font-size: 0.75rem;
	}
}

.payment-form-select {
	margin-left: auto;
	flex: 0 0 8rem;
}

@media only screen and (max-width: 991px) {
	.payment-form-input {
		input {
			padding-left: 1rem;
			padding-top: 1rem;
		}
		label {
			top: 0.5rem;
		}
	}
} 

@media only screen and (min-width: 992px) {
	.payment-form-input {
		input {
			text-align: right;
			padding-right: 1rem;
			font-size: 1.5rem;
		}
		label {
			top: 1rem;
			left: 1rem;
			font-size: 1.25rem;
		}
	}
}

// Select Image
.select-image {
  position: relative;
	i.bx {
		position: absolute;
		right: 0.75rem;
		font-size: 1.5rem;
		top: 1.125rem;
		cursor: pointer;
		color: $gray-600;
	}
	.select-image-input {
		background: $gray-100;
		border: 1px solid $gray-300;
		border-radius: 0 8px 8px 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 1rem 1.25rem;
		min-width: 5rem;
		img {
			width: 1.5rem;
		}
	}
	.select-image-list {
		display: none;
		background-color: #ffffff;
		position: absolute;
		z-index: 2;
		width: 100%;
		right: 0;
		min-width: 280px;
		border-radius: 8px;
		overflow: hidden;
		padding: 0.5rem;
		box-shadow: 0 0 1px 3px rgba(0,0,0,0.05);
	}
	.select-image-list.show {
		display: block;
	}
	.select-image-list .select-image-option {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 0.5rem 1rem;
		border-radius: 4px;
	}
	.select-image-list .select-image-option:hover {
		background-color: $gray-100;
	}
	img {
		width: 1.5rem;
		margin-right: 0.5rem;
	}
}

@media only screen and (min-width: 992px) {
	.select-image {
		.select-image-input {
			font-size: 1.25rem;
			min-width: 10rem;
		}
		i.bx {
			margin-left: 3rem;
			top: 1.25rem;
		}
	}
}

// Content Tabs

.content-tabs {
	display: flex;
	margin-top: -4rem;
	padding: 0.5rem 0.5rem 0;
	margin-bottom: 1.5rem;
	font-size: 0.875rem;
	&-item {
		margin: 0 1px;
		width: 100%;
		display: block;
		text-align: center;
		font-weight: 600;
		padding: 0.5rem;
		border-bottom: 2px solid;
		border-color: rgba($primary, 0.2);
		color: rgba($primary, 0.6);
		text-transform: uppercase;
		&.active, &:hover {
			border-color: $primary;
			color: $primary;
		}
	}
	@media only screen and (min-width:768px) {
		display: none;
	}
}
