// Color System

$gray-100: 	#F6F0EF;
$gray-200: 	#E4DCD9;
$gray-300: 	#CCB9B3;
$gray-400: 	#B6A098;
$gray-500: 	#8F7C75;
$gray-600: 	#7A6761;
$gray-700: 	#5A4942;
$gray-700: 	#5A4942;
$gray-800: 	#3F302C;
$gray-900: 	#2F221F;

$primary: #BA2328;
$info: #0F62DF;

$green: #0D9723;
$yellow: #F1D711;

$body-bg: #FAF6F6;

$form-check-input-checked-border-color: $green;
$form-check-input-checked-bg-color: $green;
$form-check-input-focus-box-shadow: none;


$accordion-button-active-bg: rgba($green, 5%);
$accordion-button-active-color: $gray-900;

$font-weight-bold: 600;

$border-color: $gray-200;

// Button + Forms
$badge-border-radius: 1px;

// Links

$link-decoration: none;

// Cards
$border-radius-sm: 2px;

$card-cap-bg: $gray-100;

$card-border-color: rgba($gray-800, .125);

// Modals

$modal-content-border-color: transparent;
$modal-backdrop-bg: darken($gray-900, 30%);
$modal-backdrop-opacity: .8;
$modal-header-border-color: $gray-200;

// Close 
$btn-close-color: $gray-900;
