mixin recipient-legend(flag, country, name)
	.recipient-legend
		img.recipient-legend-flag(src=flag data-bs-toggle="tooltip" data-bs-placement="top" title=country)
		.recipient-legend-avatar=name

mixin recipient-grid-item
	.col
		.recipient-grid-item.account-card.scale-on-hover
			.card-body
				.dropdown.account-card-dropdown
					a#cardBtn01.btn(data-bs-toggle='dropdown' aria-expanded='false')
						i.bx.bx-dots-vertical-rounded
					ul.dropdown-menu.dropdown-menu-end.text-md(aria-labelledby='cardBtn01')
						li
							a.dropdown-item(href='#') Action
						li
							a.dropdown-item(href='#') Another action
						li
							a.dropdown-item(href='#') Something else here

				+recipient-legend('./img/flag-ghana.svg', 'Ghana', 'SD')
				.recipient-content.mt-2
					.text-md.fw-bolder.text-truncate Simon Dem
					.text-xs.text-muted.text-truncate Bank Account ending *5090
				.recipient-content-control
					a.btn.btn-sm.btn-primary.w-100(href='transfer-step1.html') Send Money
					
					
mixin transaction-timeline
	.transaction-timeline
		.transaction-timeline-item.step-completed
			.transaction-timeline-item-date Monday, July 4 at 2:40 PM
			.transaction-timeline-item-content You Set up your transfer
		.transaction-timeline-item.step-current
			.transaction-timeline-item-date Monday, July 4 at 2:40 PM
			.transaction-timeline-item-content We received your payment
		.transaction-timeline-item
			.transaction-timeline-item-date Monday, July 4 at 2:40 PM
			.transaction-timeline-item-content Your money’s been sent out to Bjorn Larsson’s Bank.
			.transaction-timeline-item-helper It should reach their bank soon. Keep patience. Banks can be slow — it could take them
				strong  up to 4 business days  
				|   to process your transfer.
		.transaction-timeline-item
			.transaction-timeline-item-date Saturday, July 9
			.transaction-timeline-item-content Bjorn Larsson receives 5986.05 GHS
					
mixin transaction-list-item(id, classname, status)
	.col-12
		.account-card.transaction-card
			.card-body
				.row.g-2.g-md-3.align-items-center
					.col-3.col-md-1
						+recipient-legend('./img/flag-ghana.svg', 'Ghana', 'SD')
					.col-4.col-md-8
						.row.g-2
							.col-12.col-md-4
								dl.mb-0
									dt.text-xs.fw-500.text-muted Bank transfer
									dd.mb-0 to  
										span.fw-bold   John Doe
							.col-12.col-md-4
								dl.mb-0
									dt.text-xs.fw-500.text-muted You sent:
									dd.mb-0 500 USD
							.col-12.col-md-4
								dl.mb-0
									dt.text-xs.fw-500.text-muted Recipient Got
									dd.mb-0 2596.69 GHS
					.col-auto
						span.badge(class=classname)=status
					.col-1.text-end.ms-auto
						a.card-toggle-btn.stretched-link.collapsed(data-bs-toggle='collapse' href='#'+id aria-expanded='false' aria-controls=id)
							i.bx.bx-chevron-up

			.collapse(id=id)
				.card-body.border-top
					block
				.card-footer
					form.row.g-2.align-items-end.mb-2
						.col-6.col-md-4
							label.form-label.text-md.mb-1 You Send
							.input-group.input-group-sm
								input.form-control(type='text' placeholder="100" aria-label="Recipient's username" aria-describedby='basic-addon2' value='100')
								span#basic-addon2.input-group-text USD
						.col-6.col-md-4
							label.form-label.text-md.mb-1 Recipient will get exactly
							.input-group.input-group-sm
								input.form-control(type='text' placeholder="Sent Amount" aria-label="money-sent" aria-describedby='basic-addon3' value='5999.90')
								span#basic-addon3.input-group-text GHS
						.col-12.col-md-4
							button.btn.btn-sm.btn-primary.border-2.rounded-pill.w-100.px-3(type='submit') Repeat Transfer
							
mixin account-add-btn(target)
	a.account-add-btn(href='#0' data-bs-toggle='modal' data-bs-target=target)
		i.bx.bx-plus
		.d-block Add New
		
mixin recipient-list-item(id, featured)
	.col-12
		.account-card.recipient-list-item-card(class=featured)
			.card-body
				.row.g-2.g-md-3.align-items-center
					.col-3.col-md-1
						+recipient-legend('./img/flag-ghana.svg', 'Ghana', 'SD')
					.col-auto
						dl.mb-0
							dt.fw-500 Simon Dem
							dd.text-muted.text-xs.mb-0 Bank Account ending *5090
					.col-1.text-end.ms-auto
						a.bookmark-btn(href='#0')
							i.bx.bxs-bookmark-star
					.col-1.text-end
						a.card-toggle-btn.stretched-link.collapsed(data-bs-toggle='collapse' href='#'+id aria-expanded='false' aria-controls=id)
							i.bx.bx-chevron-up

			.collapse(id=id)
				.card-body.border-top.pb-1
					.row
						.col-6.col-lg-3
							dl
								dt.text-xs.fw-500.text-muted Summary
								dd.mb-0 Bank Account ending *5090
						.col-6.col-lg-3
							dl
								dt.text-xs.fw-500.text-muted Account holder name
								dd.mb-0 Simon Dem
						.col-6.col-lg-3
							dl
								dt.text-xs.fw-500.text-muted SWIFT Code
								dd.mb-0 TK592MK
						.col-6.col-lg-3
							dl
								dt.text-xs.fw-500.text-muted Account number
								dd.mb-0 GH5992995992945019
				.card-footer
					.row.justify-content-between
						.col
							a.btn.rounded-pill.btn-primary(href='#0') Send Money
						.col.text-end
							a.btn.btn-light.rounded-pill.text-muted(href='#0')
								i.bx.bx-trash 
								span.d-none.d-md-inline  Delete