mixin mobile-sidebar
	#sidebarLeft.bg-white.d-block.d-md-none
		ul.sidebar-nav
			li
				a.active(aria-current='page' href='index.html') Send Money
			li
				a(href='receive.html') Receive
			li
				a(href='#') How it works?
			.px-3.mt-4
				a.btn.btn-light.rounded-pill.w-100.my-1(data-bs-toggle='modal' data-bs-target='#loginModal') Log In
				a.btn.btn-primary.rounded-pill.w-100.my-1(href='sign-up.html') Sign Up

mixin language-select(classname)
	.dropdown.language-select.mx-2(class=classname)
		a#languageSelection.link-dark.dropdown-toggle(data-bs-toggle='dropdown' aria-expanded='false')
			i.country-flag.me-2
				img(src='./img/flag-uk.svg' width='24')
			span.d-none.d-lg-inline-block English
		ul.dropdown-menu.dropdown-menu-end(aria-labelledby='languageSelection')
			li
				a.dropdown-item(href='#') 
					i.country-flag.me-2
						img(src='./img/flag-uk.svg' width='20')
					| English
			li
				a.dropdown-item(href='#') 
					i.country-flag.me-2
						img(src='./img/flag-france.svg' width='20')
					| French

mixin content-tabs
	.content-tabs
		a.content-tabs-item.active(href='#0') Send
		a.content-tabs-item(href='#0') Receive

mixin header(classname)
	.header(class=classname)
		.header-inset
			a.menu-btn.link-dark.d-flex.d-md-none(data-trigger='#sidebarLeft' role='button')
				i.bx.bx-menu
			a.logo(href='index.html')
				img(src='./img/logo.png')
			ul.nav.d-none.d-md-flex
				li.nav-item
					a.nav-link.active(aria-current='page' href='index.html') Send Money
				li.nav-item
					a.nav-link(href='receive.html') Receive
				li.nav-item
					a.nav-link(href='#') How it works?
			ul.nav.d-none.d-sm-flex.ms-auto.me-4
				li.nav-item
					a.nav-link(data-bs-toggle='modal' data-bs-target='#loginModal') Log In
				li.nav-item
					a.btn.btn-primary.rounded-pill(href='sign-up.html')  Sign Up
			a.mobile-login-toggle.ms-auto.me-3.d-sm-none.link-dark.rounded-pill(data-trigger='#sidebarLeft' role='button')
				i.bx.bx-user-circle
			
			+language-select('')
		block

mixin destination-btn(img, title)
	a.destination-btn.text-center.d-flex.flex-column(href='#0')
		img(src=img, alt=title)
		span.d-block.text-md=title
		

mixin footer
	footer.footer
		.bg-semidark.text-light.py-5.marked-top-right
			.container
				.row.align-items-center.justify-content-center
					.col-12.text-center.d-lg-none
						h5.mb-3 Supported Countries:
						p.text-md.text-muted You can send money from USA or Canada to any of these countries.
					.col-12.col-lg-7
						.destination-btn-grid
							+destination-btn('./img/flag-canada.svg', 'Canada')
							+destination-btn('./img/flag-usa.svg', 'USA')
						.destination-btn-grid
							+destination-btn('./img/flag-ghana.svg', 'Ghana')
							+destination-btn('./img/flag-sierra-leone.svg', 'Sierra Leone')
							+destination-btn('./img/flag-liberia.svg', 'Liberia')
							+destination-btn('./img/flag-nigeria.svg', 'Nigeria')
							+destination-btn('./img/flag-senegal.svg', 'Senegal')
							+destination-btn('./img/flag-cot-d-ivoir.svg', 'Cote d’Ivoire')
							+destination-btn('./img/flag-guinea.svg', 'Guinea')
					.col-10.col-lg-5.text-center.text-lg-start
						h5.mb-4.d-none.d-lg-block Supported Countries:
						p.text-md.text-muted.d-none.d-lg-block You can send money from USA or Canada to any of these countries.
						p.text-md.text-muted Didn’t find your country? 
							br 
							| Subscribe and we will inform you when it is available.
						form
							.row.g-1
								.col-12.col-md-4
									input.form-control.bg-dark.text-white.border-secondary.w-100(type='email' placeholder='Your Email Address')
								.col-12.col-md-4
									select.form-select.bg-dark.text-white.border-secondary.w-100
										option Select country
										option Afghanistan
										option Algeria
										option France
										option Vietnam
								.col-12.col-md-4
									button.btn.btn-primary.rounded-pill.w-100.mt-2.mt-md-0 Notify Me

		.bg-dark.text-white.py-5
			.container
				.row
					.col-12.col-lg-4.order-1.order-lg-2.text-center.text-lg-right
						ul.list-inline.lead
							li.list-inline-item
								a.link-white(href='#0')
									i.bx.bxl-facebook
							li.list-inline-item
								a.link-white(href='#0')
									i.bx.bxl-twitter
							li.list-inline-item
								a.link-white(href='#0')
									i.bx.bxl-linkedin
					.col-12.col-lg-8.order-2.order-lg-1
						ul.footer-menu
							li
								a.link-white(href='#0') Terms and conditions
							li
								a.link-white(href='#0') Privacy policy
							li
								a.link-white(href='#0') Cookies policy
							li
								a.link-white(href='#0') Customer Support
					.col-12.order-3
						.py-2.text-muted.small.text-center.text-md-left BnB CashApp is a service of © BnB Transfer Corp., a licensed Money Remitter in Canada, Rep. of Guinea, Sierra Leone and Liberia.
							br
							|  Copyright © BnB Transfer Corp. 2020
							
mixin truspilot-stars
	.review-item-stars.ms-md-auto
		img(src='./img/trustpilot-star.svg')
		img(src='./img/trustpilot-star.svg')
		img(src='./img/trustpilot-star.svg')
		img(src='./img/trustpilot-star.svg')
		img(src='./img/trustpilot-star.svg')

mixin review(author, title, text)
	.review-item
		.review-item-legend
			.review-item-avatar
				img(src='./img/user_01.png' alt=author)
			.d-flex.flex-column.align-items-md-center.flex-md-row.w-100
				.review-item-author=author
				+truspilot-stars
		.review-item-title=title
		.review-item-text.text-muted=text
		
mixin trustpilot-section
	.d-block
		.section.section-review.marked-top-left
			.review-section-title.marked-bottom-right
				.container
					.row
						.col-12.col-md-8.offset-md-4
							h2.review-section-title-text.text-white Trustpilot rates 
								br
								|  BNB Cash as excellent
			.review-grid
				.review-grid-content
					+review('John Doe', 'Very quick and reliable source', 'Very quick and reliable source, just waiting for my cards to arrive very impressed on how you onboard your corporate clients. Thank you guys keep it up!')
					+review('Paul', 'Excellent service had a couple of…', 'Excellent service had a couple of problems out of 100+ transactions and this was due to the receiving bank. Phone call, explained fully what the problem was and very helpful.')
					+review('Michael Nielsen', 'I receive and send money fast and…', 'I receive and send money fast and affordable. The very reliable and straightforward banking application. An excellent experience! Thank you!')
					+review('Aaron', 'Very efficient and fast process', 'I recently decided to close my current bank account in favour of a more flexible online account and chose BNB after some recommendations and feel it has been the easiest transfer I have done. I am extremely pleased with the service given and love the multi currency service. Well done! 😀')
					+review('Carlie Cruz', 'All I ever wanted', 'All I ever wanted. A perfect and better choice to transfer money.')
					+review('Janett', 'Super easy to use and lower fees', 'It is super easy to buy, to send money and to access your money through an ATM. The fees are cheaper than traditional banks too. Another thing I love is how easy it is to convert money to different currencies, just under you own control, that is very helpful when travelling and when buying online.')
					.d-block.d-lg-none.p-2
			.d-block
			
mixin delivery-method(title, text, cardclass)
	.delivery-method.card(class=cardclass)
		.row.g-0.h-100
			.col-4
				.rounded-left.delivery-method-img
			.col-8
				.card-body.d-flex.flex-column.h-100.align-items-start
					h5.card-title.mb-2.mt-md-2=title
					.delivery-method-text.mb-3.text-muted=text
					a.btn.btn-primary.rounded-pill.mt-auto.mb-md-3(href='#0') Get Started

mixin money-deliver-methods
	section.section.mb-3.mb-md-5.pb-3.pb-md-4
		.container
			.row.mb-4
				.col-12.col-lg-3.mt-4
					h3.section-title.mb-lg-3 How we deliver your money *
					.section-subtitle.text-muted * Delivery methods may vary in different countries.
					.my-3
					a.btn.btn-outline-primary.border-2.rounded-pill(href='#0') Learn More
				.col-12.col-lg-9.mt-3.mt-lg-0
					.row.row-cols-1.row-cols-md-2.g-3
						.col
							+delivery-method("Cash Pickup", "Send money to be picked up in cash at an agent location.", "delivery-method-01")
						.col
							+delivery-method("Bank Transfer", "Send money to your recipient's bank account.", "delivery-method-02")
						.col
							+delivery-method("Mobile Money", "Send money to the mobile wallets of your recipient.", "delivery-method-03")
						.col
							+delivery-method("Airtime Topup", "Send small amounts of money to top-up the airtime credits of your recipient's phone.", "delivery-method-04")

mixin divider
	.container
		.row
			.col-12
				.divider-line
				
mixin process-item(number, img, title, text, order)
	.card.process-card(class=order)
		.card-body
			.d-flex.flex-column.h-100
				.d-flex.mb-0.mb-md-3
					span.process-card-number.text-primary=number
					.process-card-icon.ms-auto
						img(src=img)
				h6.card-title=title
				.process-card-text.text-muted.mb-md-2.mt-auto=text
				
mixin process
	section
		.container
			.row.align-items-center
				.col-12.col-lg-3
					h3.section-title.mb-lg-3 How It Works?
					.section-subtitle.text-muted We tailored safe and secure process for your international money transfers. And it is simple as 1, 2, 3!
					.my-3
					a.btn.btn-outline-primary.border-2.rounded-pill(href='#0') Learn More
				.col-12.col-lg-9.mt-3.mt-lg-0
					
					.row.row-cols-1.row-cols-md-3.g-2.process-grid.align-items-stretch
						.col
							+process-item("01", "./img/icon_01.svg", 'Enter an amount and currency', 'Enter how much you would like to send - you’ll see our rates and fees upfront.', 'process-item-01')
						.col
							+process-item("02", "./img/icon_02.svg", 'Add destination country and recipient', 'Enter how much you would like to send - you’ll see our rates and fees upfront.', 'process-item-02')
						.col
							+process-item("03", "./img/icon_03.svg", 'Pay securely and relax', 'Enter how much you would like to send - you’ll see our rates and fees upfront.', 'process-item-03')

mixin app-markets-section
	section.marked-top-left.marked-bottom-right.app-markets
		.container
			.row.justify-content-left
				.col
					| Download our app to send and receive money faster
					.d-flex.mt-2
						a.me-1(href='#0')
							img(src='./img/google-play-btn.svg' alt='Get it on Google Play')
						a(href='#0')
							img(src='./img/app-store-btn.svg' alt='Download on the App Store')

mixin currency-list-item(img, code, country, value)
	.select-image-option(data-value=value data-name=code data-image=img)
		img(src=img)
		=country
		span.text-muted.ms-auto=code
	

mixin payment-form
	form.payment-form
		.payment-form-row
			.payment-form-input
				input#amountToSend(type='text' placeholder='Select Amount to Send' value='100')
				label(for='amountToSend') You Send
			.payment-form-select
				.select-image
					input(type='hidden' value='')
					// Selected option
					.select-image-input
						img(src='./img/flag-usa.svg')
						|  USD
					i.bx.bx-chevron-down.ms-auto
					// List of options
					.select-image-list
						+currency-list-item('./img/flag-usa.svg', 'USD', 'United States', 'usa')
						+currency-list-item('./img/flag-canada.svg', 'CAD', 'Canada', 'canada')

		.payment-form-row
			.payment-form-input
				input#amountToReceive(type='text' placeholder='Recipient Gets' value='5868.55')
				label(for='amountToReceive') Recipient Gets
			.payment-form-select
				.select-image
					input(type='hidden' value='')
					// Selected option
					.select-image-input
						img(src='./img/flag-ghana.svg')
						|  GHS
					i.bx.bx-chevron-down.ms-auto
					// List of options
					.select-image-list
						+currency-list-item('./img/flag-ghana.svg', 'GHS', 'Ghana', 'ghana')
						+currency-list-item('./img/flag-sierra-leone.svg', 'SLS', 'Sierra Leone', 'sierra-leone')
						+currency-list-item('./img/flag-liberia.svg', 'LRD', 'Liberia', 'liberia')
						+currency-list-item('./img/flag-nigeria.svg', 'NGN', 'Nigeria', 'nigeria')
						+currency-list-item('./img/flag-senegal.svg', 'XOF', 'Senegal', 'senegal')
						+currency-list-item('./img/flag-cot-d-ivoir.svg', 'XOF', "Cote d'Ivoire", 'cote-d-ivoire')
						+currency-list-item('./img/flag-guinea.svg', 'GFR', "Guinea", 'guinea')

		.row.align-items-center.justify-content-between.transfer-confirmation-buttons
			.col-12.col-md-6.order-2.order-md-1
				button.btn.btn-primary.rounded-pill.btn-lg.w-100(type='submit') Send Now
			.col-12.col-md-6.order-1.order-md-2.mb-4.mb-md-0
				.text-md.text-muted Exchange rate:
				.text-dark 1 USD = 125.12 GHS * 
					a.badge.bg-info.text-white(href='#0') Show Fees
	
mixin hero-section
	.section.hero-section
		.container
			.row
				.col-12.col-lg-7
					h1.hero-section-title International money transfers
					.hero-section-subtitle.text-muted Fast. Secure. Low fees.
					.my-4.pb-5
						+payment-form
				.col-12.col-lg-5
					.hero-img
					
					
mixin header2(classname)
	.account-header.marked-bottom-left(class=classname)
		.header-inset
			a.logo.ms-3(href='dashboard.html')
				img(src='./img/logo.png')
			ul.nav.d-none.ms-auto.d-sm-flex
				li.nav-item
					a.nav-link.active(aria-current='page' href='dashboard.html') Send Money
				li.nav-item
					a.nav-link(href='receiver-info.html') Receive Money
				li.nav-item
					a.nav-link(href='need-help.html') Need Help?
				li.nav-item
					a.nav-link(href='index.html') Log Out
					
			.dropdown.ms-auto.me-0.d-sm-none.link-dark.rounded-pill
				a#usermenuDropdown.mobile-login-toggle.ms-auto.me-2.d-sm-none.link-dark.rounded-pill(data-bs-toggle='dropdown' aria-expanded='false')
					i.bx.bx-user-circle
				ul.dropdown-menu.text-md(aria-labelledby='usermenuDropdown')
					li
						a.dropdown-item(href='dashboard.html') My Account
					li
						a.dropdown-item(href='#') Need Help?
					li.dropdown-divider
					li
						a.dropdown-item(href='index.html') Log Out
			+language-select('')
		block
		
		
mixin header3(classname)
	.account-header.marked-bottom-left(class=classname)
		.header-inset
			a.logo.ms-3(href='dashboard.html')
				img(src='./img/logo.png')
			block
			+language-select('ms-auto')
		a.btn-cancel(href='#0')
			i.bx.bx-x
			span.text-xs.fw-500.d-none.d-md-block Cancel
		
mixin footer2
	footer.footer
		section.marked-top-right.app-markets.my-0
			.container
				.row.justify-content-center.align-items-center
					.col-auto
						| Download our app to send and receive money faster
					.col-auto
						.d-flex.mt-2.mt-md-0
							a.me-1(href='#0')
								img(src='./img/google-play-btn.svg' alt='Get it on Google Play')
							a(href='#0')
								img(src='./img/app-store-btn.svg' alt='Download on the App Store')
		.bg-dark.text-white.py-5
			.container
				.row
					.col-12.col-lg-4.order-1.order-lg-2.text-center.text-lg-right
						ul.list-inline.lead
							li.list-inline-item
								a.link-white(href='#0')
									i.bx.bxl-facebook
							li.list-inline-item
								a.link-white(href='#0')
									i.bx.bxl-twitter
							li.list-inline-item
								a.link-white(href='#0')
									i.bx.bxl-linkedin
					.col-12.col-lg-8.order-2.order-lg-1
						ul.footer-menu
							li
								a.link-white(href='#0') Terms and conditions
							li
								a.link-white(href='#0') Privacy policy
							li
								a.link-white(href='#0') Cookies policy
							li
								a.link-white(href='#0') Customer Support
					.col-12.order-3
						.py-2.text-muted.small.text-center.text-md-left BnB CashApp is a service of © BnB Transfer Corp., a licensed Money Remitter in Canada, Rep. of Guinea, Sierra Leone and Liberia.
							br
							|  Copyright © BnB Transfer Corp. 2020
							
							
mixin balance(classname)
	.bg-light.balance-box.d-flex.flex-column.lg-flex-row.align-items-center.mb-4
		.p-3.text-center
			dl.mb-0
				dt.text-muted.small You Balance
				dd.h3.mb-0 $592
		.balance-box-controls.border.border-primary
			a.btn.btn-primary.btn-sm(href='receiver-info.html') Receive Funds
			a.btn.btn-link.btn-sm(href='withdraw.html') Withdraw