mixin login-modal
	#loginModal.modal.fade(tabindex='-1' aria-labelledby='loginModalLabel' aria-hidden='true')
		.modal-dialog.modal-fullscreen.p-0
			.modal-content.m-0
				
				.login-modal
					
					.login-modal-img.p-5
						.d-block.w-100.z-index-2
							a(href='index.html')
								img(src='./img/logo.png' alt='BNB' width='80')
						.d-block.z-index-2.mb-5
							h1.login-modal-title Send Money to Your Loved Ones
							p.login-modal-subtitle Fast. Secure. Low fees.
					
					.login-modal-content
						button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
						.container-fluid
							.row.justify-content-center
								.col-sm-11.col-md-8.col-lg-10.col-xl-7

									h3.mb-4 Sign in to Continue

									.d-grid.gap-2.mb-3
										a.btn.btn-fb.btn-lg.rounded-pill.btn-block(href='dashboard.html')
											i.bx.bxl-facebook-circle.me-2
											| Continue with Facebook
										a.btn.btn-gl.btn-lg.rounded-pill.btn-block(href='dashboard.html')
											i.bx.bxl-google.me-2
											| Continue with Google

									.divider-line

									.md-title or Log In using your email and password
									.form-floating.mb-3
										input#loginEmail.form-control(type='email' placeholder='name@example.com')
										label(for='loginEmail') Email address
									.form-floating
										input#loginPassword.form-control(type='password' placeholder='Password')
										label(for='loginPassword') Password

									.d-flex.mt-3.py-1.justify-content-between.align-items-center
										button.btn.btn-primary.btn-lg.px-5.rounded-pill(type='submit') Log In
										a.text-md.text-muted(href='#0') Forgot password?

									.divider-line

									.md-title New to BNB? 
									a.btn.btn-outline-primary.btn-lg.w-100.border-2.rounded-pill(href='sign-up.html') Create free account
									
									
mixin new-recipient-modal
	#newRecipientModal.modal.fade(tabindex='-1' aria-labelledby='newRecipientModalLabel' aria-hidden='true')
		.modal-dialog.modal-fullscreen-sm-down.modal-lg
			.modal-content
				.modal-header
					h5#newRecipientModalLabel.modal-title Add New Recipient
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body
					
					.alert.alert-info
						p.text-md
							strong Important: 
							|  The names of the recipient must exactly match the names as they appear on your recipient's ID.
						p.mb-0.text-md 
							strong Identification Requirements: One valid ID
					
					.row.justify-content-between
						.col-md-7.col-lg-8
							.form-floating.mb-3
								input#firstName.form-control(type='text' placeholder='First Name')
								label(for='firstName') First Name

							.form-floating.mb-3
								input#Middle.form-control(type='text' placeholder='Middle Name')
								label(for='Middle') Middle Name (optional)

							.form-floating.mb-3
								input#LastName.form-control(type='text' placeholder='Last Name')
								label(for='LastName') Last Name

							.form-floating.mb-3
								input#address01.form-control(type='text' placeholder='Address')
								label(for='address01') Address

							.form-floating.mb-3
								input#address02.form-control(type='text' placeholder='Address Line 2')
								label(for='address02') Address Line 2 (optional)

							.form-floating.mb-3
								select#countryName.form-select(type='text' placeholder='Address')
									option Ghana
									option Senegal
									option Liberia
								label(for='countryName') Country
							
							.form-floating.mb-3
								input#cityName.form-control(type='text' placeholder='City')
								label(for='cityName') City
							
							.form-floating.mb-3
								input#phoneNumber.form-control(type='phone' placeholder='Phone')
								label(for='phoneNumber') Phone Number
								.form-text Please include the area code
							
							.form-floating.mb-3
								input#emailAddress.form-control(type='email' placeholder='Email')
								label(for='emailAddress') Email (optional)
								.form-text If you would also like your recipient to receive tracking information.
							
							



						.col-md-5.col-lg-4
							.card.card-body.bg-light
								h6 Tips for sending money safely
								ul.list-unstyled.text-md.mb-0
									li.py-1
										a.text-dark(href='#0') Send Only to People You Know
									li.py-1 
										a.text-dark(href='#0') Protect Yourself from Scams
									li.py-1
										a.text-dark(href='#0') Safeguard Your Password
									li.py-1
										a.text-dark(href='#0') Send for Yourself, Not for Others
									li.py-1
										a.text-dark(href='#0') Use BNB for Legal Purposes Only
									li.py-1
										a.text-dark(href='#0') Notify BNB If You Are Suspicious of Fraud or Scams
									
						
					
				.modal-footer
					button.btn.btn-light.text-muted.me-auto.rounded-pill.btn-lg(type='button' data-bs-dismiss='modal') Cancel
					button.btn.btn-primary.rounded-pill.btn-lg(type='button') Save Recipient


mixin transaction-details-modal
	#transactionDetailsModal.modal.fade(tabindex='-1' aria-labelledby='transactionDetailsModalLabel' aria-hidden='true')
		.modal-dialog.modal-fullscreen-sm-down
			.modal-content
				.modal-header
					h5#transactionDetailsModalLabel.modal-title Transaction ID4849929
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body
					.md-title.mt-0 Transfer Overview
					
					table.table.table-borderless.table-hover.text-md
						tbody
							tr
								th(scope='tr') From
								td.text-end John Doe
							tr
								th(scope='tr') Amount sent
								td.text-end 1,000.00 USD
							tr
								th(scope='tr') Converts to
								td.text-end 6,875.51 GHN
							tr
								th(scope='tr') Fee
								td.text-end 7 USD
							tr
								th(scope='tr') Exchange rate
								td.text-end 5.6921
							tr
								th(scope='tr') Money delivery method
								td.text-end Mobile Money
							
						
						
					
					hr
					.md-title Recipient Details
					table.table.table-borderless.table-hover.text-md
						tbody
							tr
								th(scope='tr') To
								td.text-end Jane Lee
							tr
								th(scope='tr') Reference
								td.text-end Family Support
							tr
								th(scope='tr') Money delivery method
								td.text-end Mobile Money
							tr
								th(scope='tr') Phone Number
								td.text-end +86 492 111 50 09
					
					
				.modal-footer
					button.btn.btn-light.text-muted.me-auto.rounded-pill.btn-lg(type='button' data-bs-dismiss='modal') Close
					button.btn.btn-primary.rounded-pill.btn-lg(type='button') Get PDF Receipt
					
mixin verification-modal
	#verificationModal.modal.fade(tabindex='-1' aria-labelledby='verificationModalLabel' aria-hidden='true')
		.modal-dialog.modal-fullscreen-sm-down
			.modal-content
				.modal-header
					h5#verificationModalLabel.modal-title Verify Your Account
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body
					.card.mb-3
						.card-header 1. ID Verification
						.card-body
							p Please upload your government issued document to verify your ID.

							.mb-3
								label.form-label(for='formFile') Select file to upload...
								input#formFile.form-control(type='file')
								.form-text File in JPG, PDF, PNG format.
					.card
						.card-header 2. Address Verification
						.card-body
							p Please upload your address proof. Some helper text to describe required document...

							.mb-3
								label.form-label(for='formFile') Select file to upload...
								input#formFile.form-control(type='file')
								.form-text File in JPG, PDF, PNG format.
					
				.modal-footer
					button.btn.btn-light.text-muted.rounded-pill.btn-lg.me-auto(type='button' data-bs-dismiss='modal') Cancel
					button.btn.btn-primary.btn-lg.rounded-pill(type='button') Start Verification
					
mixin payment-method-modal
	#paymentMethodModal.modal.fade(tabindex='-1' aria-labelledby='paymentMethodModalLabel' aria-hidden='true')
		.modal-dialog.modal-fullscreen-sm-down
			.modal-content
				.modal-header
					h5#paymentMethodModalLabel.modal-title Add Payment Method
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body
					
					.form-floating.mb-3
						input#nameOnCard.form-control(type='text' placeholder='Name on Card')
						label(for='nameOnCard') Name on Card
					.form-floating.mb-3
						input#cardNumber.form-control(type='text' placeholder='Card Number')
						label(for='cardNumber') Card Number
					.row.g-2
						.col
							.form-floating
								input#dateExp.form-control(type='text' placeholder='Date Expiry')
								label(for='dateExp') Date Expiry (MM/YY)
						.col
							.form-floating
								input#securityCode.form-control(type='text' placeholder='Security Code')
								label(for='securityCode') CVV/CVC
				.modal-footer
					button.btn.btn-light.text-muted.rounded-pill.btn-lg.me-auto(type='button' data-bs-dismiss='modal') Cancel
					button.btn.btn-primary.btn-lg.rounded-pill(type='button') Start Verification
					
mixin deposit-method-modal
	#depositMethodModal.modal.fade(tabindex='-1' aria-labelledby='depositMethodModalLabel' aria-hidden='true')
		.modal-dialog.modal-fullscreen-sm-down
			.modal-content
				.modal-header
					h5#depositMethodModalLabel.modal-title Ecobank Account Details
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body
				
					.form-floating.mb-3
						input#accountNumber.form-control(type='text' placeholder='Account Number')
						label(for='nameOnCard') Account Number
						
					.form-floating.mb-3
						input#accountNumber2.form-control(type='text' placeholder='Confirm Account Number')
						label(for='accountNumber2') Confirm Account Number
					.form-floating.mb-3
						input#userIDNumber.form-control(type='text' placeholder='ID')
						label(for='userIDNumber') ID Number
						
					.row.g-2
						.col-6
							.form-floating.mb-3
								select#currencySelect.form-select(aria-label='countryCode')
									option(selected='') Country Code
									option(value='1') +58 - Ghana
									option(value='2') +53 - Senegal
								label(for='countryCode') Country Code
						.col-6
							.form-floating.mb-3
								input#phoneNumber.form-control(type='text' placeholder='Phone Number')
								label(for='phoneNumber') Phone Number
					p
						strong Note: 
						| Code will be sent by SMS.
				.modal-footer
					button.btn.btn-primary.btn-lg.w-100(href='#' data-bs-toggle='modal' data-bs-target='#verificationCodeModal') Save
					
mixin verification-code-modal
	#verificationCodeModal.modal.fade(tabindex='-1' aria-labelledby='verificationCodeModalLabel' aria-hidden='true')
		.modal-dialog.modal-fullscreen-sm-down
			.modal-content
				.modal-header
					h5#verificationCodeModalLabel.modal-title Ecobank Account Details
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body
				
					.form-floating.mb-3
						input#smsCode.form-control(type='text' placeholder='Verification Code')
						label(for='smsCode') Account Number
						
					p.text-center
						| Resend code in 
						strong 12   
						
						|  Seconds  
						a(href='#0')  Resend Code
				.modal-footer
					button.btn.btn-primary.btn-lg.w-100(type='button') Submit