doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='icon' href='./img/logo.png' type='image/png' sizes='16x16')
		// Box Icons
		link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')
		// Main CSS file
		link(href='css/style.css' rel='stylesheet')
		title
			block title
	body
		block modals
		b.screen-overlay
		.page
			block content
			
			
			
		script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
		
		// Initialize Tooltips
		script.
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl)
			})
		// Select with Image
		script.
			(function(){
				'use strict'

				function hasClass(el, className){
					if(el){
							if (el.classList)
									return el.classList.contains(className);
							return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
					}
					return null
				}
				function addClass(el, className){
					if(el){
							if (el.classList)
									el.classList.add(className)
							else if (!hasClass(el, className))
									el.className += " " + className;
					}
				}
				function removeClass(el, className){
					if(el){
							if (el.classList)
									el.classList.remove(className)
							else if (hasClass(el, className))
							{
									let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
									el.className = el.className.replace(reg, ' ');
							}
					}
				}

				let selects = document.getElementsByClassName("select-image");        
				Array.prototype.forEach.call(selects, function (select) {

					select.addEventListener('click', function(){
							let list = this.querySelector(".select-image-list")
							addClass(list, "show");
					});

					select.addEventListener("mouseleave", function() {
							let list = this.querySelector(".select-image-list")
							removeClass(list, "show");
					});

					let options = select.getElementsByClassName("select-image-option");
					Array.prototype.forEach.call(options, function (option) {

							option.addEventListener('click', function(){

									let value = this.getAttribute("data-value");
									let image = this.getAttribute("data-image");
									let name  = this.getAttribute("data-name");

									let display = select.getElementsByClassName("select-image-input")[0];
									display.innerHTML = `<img src="`+image+`"/> `+name;

									let input = select.querySelector("input");
									input.value = value;
									
									let list = select.querySelector(".select-image-list")
									setTimeout(function(){
											removeClass(list, "show");
									}, 50)
							});
					});
				});
				})();