extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+deposit-method-modal
	+verification-code-modal
	
block content
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='receiver-info.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Receiver Information
			a.transfer-progress-step.step-current(href='deposit-account.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Deposit Account Details
			a.transfer-progress-step(href='confirmation.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		
		
		
		
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h2.mb-4.mb-md-3 Abdoulaye Bah
					.row
						.col-6
							dl.mb-0
								dt Pickup Code:
								dd XXXXXXXX
						.col-6
							dl.mb-0
								dt Amount to Add to Your Balance:
								dd 250.00 CAD
					
					.divider-line
					form
						label.mb-2 Your Signature to Confirm Transaction
						.card.card-body(style='height:240px')
							.row
								.col
									p.text-md Sign inside the box
								.col.text-end
									a.text-md(href='#') Clear
								
						.mt-4
							a.btn.w-100.btn-primary.btn-lg.btn-block(href='confirmation.html') Accept Money
						.mt-4
							a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='cancelation.html') Cancel
		
