extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='receiver-info.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Receiver Information
			a.transfer-progress-step.step-done(href='deposit-account.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Deposit Account Details
			a.transfer-progress-step.step-done(href='confirmation.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h2.mb-3.mb-md-3.text-center Transaction Cancelled
					
					.card.card-body.text-center
						p If you faced any problems with our service, please feel free to contact us
							br
							a(href='#0') support@gmail.com
						p or Call Us  
							strong +12 499 1939100
					
					
						
					.mt-4
						a.btn.w-100.btn-primary.btn-lg.btn-block(href='#0') Pickup Another Transfer
					.mt-4
						a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='#0') Dashboard
		
