extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='receiver-info.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Receiver Information
			a.transfer-progress-step.step-done(href='deposit-account.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Deposit Account Details
			a.transfer-progress-step.step-current(href='confirmation.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h2.mb-3.text-center Transaction Successful!
					.card
						.card-body
							dl.row.mb-0
								dt.col-6 Receiver:
								dd.col-6 Abdoulaye Bah
								dt.col-6 Sending Company:	
								dd.col-6 Money Gram
								dt.col-6 Amount Received:
								dd.col-6 500.00 CAD
								dt.col-6 Deposit to:
								dd.col-6 Your BNB Balance
						
					.mt-4
						a.btn.w-100.btn-primary.btn-lg.btn-block(href='dashboard.html') My Dashboard
					.mt-4
						a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='withdraw.html') Withdraw Funds
		
