extends _main2.pug
include inc/_components.pug

block title
	| Account Dashboard

block modals
	+new-recipient-modal
	+transaction-details-modal
block content
	
	// Header
	+header2('')
		.welcome-section
			.container
				.row.align-items-center
					.col-12.col-md-5.col-xl-6
						h1 Welcome James
						p Send your transaction today and get best rates!
						ul.list-unstyled.text-muted.text-md
							li - Low fees and locked-in exchange rates
							li - Easy and fast transfer
							li - Safe and secure
						+balance('')
					.col-12.col-md-7.col-xl-6
						+payment-form
	// end Header
	.account-content
		.container
			.row
				.col-12.col-lg-3
					.overflow-hidden.mb-3
						ul.account-navigation
							li
								a.active(href='dashboard.html')
									i.bx.bx-home 
									|  Home
							li
								a(href='transactions.html')
									i.bx.bx-time 
									|  Transaction History
							li
								a(href='recipients.html')
									i.bx.bx-group 
									|  Recipients
							li
								a(href='payment-methods.html')
									i.bx.bx-credit-card 
									|  Payment Methods
							li
								a(href='receive-methods.html')
									i.bx.bx-money 
									|  Money Receive Methods
							li
								a(href='settings.html')
									i.bx.bx-cog 
									|  Settings
						
				.col-12.col-lg-9
					.dashboard-section
						.dashboard-section-header
							h3.dashboard-section-title Recent Recipients
							a.text-md(href='recipients.html') View All
						.row.recipient-grid.row-cols-2.row-cols-lg-3.row-cols-xl-4.g-3.mt-md-1

							+recipient-grid-item
							+recipient-grid-item
							+recipient-grid-item
							+recipient-grid-item
							+recipient-grid-item
							+recipient-grid-item
							.col
								+account-add-btn('#newRecipientModal')
					
					.divider-line
					
					.dashboard-section
						.dashboard-section-header
							h3.dashboard-section-title Recent Transactions
							a.text-md(href='transactions.html') View All
						
						.md-title.mb-2 Yesterday
						.row.gy-2
							+transaction-list-item('card-01', 'bg-warning', 'In Progress')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details
							+transaction-list-item('card-02', 'bg-success', 'Sent')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details
						
						.md-title.mb-2 Earlier this week
						.row.gy-2
							+transaction-list-item('card-03', 'bg-warning', 'In Progress')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details
							+transaction-list-item('card-04', 'bg-danger', 'Cancelled')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details