extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+deposit-method-modal
	+verification-code-modal
	
block content
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='receiver-info.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Receiver Information
			a.transfer-progress-step.step-current(href='deposit-account.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Deposit Account Details
			a.transfer-progress-step(href='confirmation.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		
		
		
		
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h2.mb-4.mb-md-3 Abdoulaye Bah
					.row
						.col-6
							dl.mb-0
								dt Pickup Code:
								dd XXXXXXXX
						.col-6
							dl.mb-0
								dt Amount received:
								dd 250.00 CAD
					
					.divider-line
					h3.mb-3.mb-md-2 Choose Where to Deposit
					form
						.row.recipient-grid.row-cols-2.row-cols-lg-3.g-3.mt-md-1.justify-content-stretch
						
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault1.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault1')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-7.png' width='60%' alt='Orange Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *5919
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault2.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault2')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-8.png' width='60%' alt='MTN Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +868******18485
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault4.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault4')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-10.png' width='60%' alt='Cashplus') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *1244
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault5.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault5')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-11.png' width='60%' alt='Airtel Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +76829*****482
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault6.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault6')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-12.png' width='60%' alt='GTBank') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder Account ending *5999
							
							.col
								a.card-check.h-100.d-flex(href='#' data-bs-toggle='modal' data-bs-target='#depositMethodModal')
									.recipient-grid-item.account-card
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-9.png' width='60%' alt='Ecobank') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate.text-info Add Your Ecobank Account
												
												
								
						.mt-4
							a.btn.w-100.btn-primary.btn-lg.btn-block(href='confirmation.html') Next
						.mt-4
							a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='cancelation.html') Cancel
		
