extends _main.pug
include inc/_components.pug

block title
	| Homepage
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header
	+header('')
	// end Header
	
	// Content Tabs
	+content-tabs
	// end Content Tabs
	
	// Hero Section
	+hero-section
	// end Hero Section

	// Mobile App Links
	+app-markets-section
	// end Mobile App Links
	
	// Process Steps
	+process
	// end Process Steps
	
	+divider
	
	// How we deliver money
	+money-deliver-methods
	// end How we deliver money
	
	// Trustpilot Section
	+trustpilot-section
	// end Trustpilot Section