extends _main2.pug
include inc/_components.pug

block title
	| Need Help?

block modals
block content
	
	// Header
	+header2('')
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-lg-8
					.dashboard-section
						.dashboard-section-header
							h1 FAQs
						
						#accordionExample.accordion
							.accordion-item
								h2#headingOne.accordion-header
									.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
										| How to Make a Transfer?
								#collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
									.accordion-body
										strong This is the first item's accordion body.
										|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
										code .accordion-body
										| , though the transition does limit overflow.
							.accordion-item
								h2#headingTwo.accordion-header
									.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
										| Supported Countries
								#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
									.accordion-body
										strong This is the second item's accordion body.
										|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
										code .accordion-body
										| , though the transition does limit overflow.
							.accordion-item
								h2#headingThree.accordion-header
									.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
										| How to Change Password?
								#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
									.accordion-body
										strong This is the third item's accordion body.
										|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
										code .accordion-body
										| , though the transition does limit overflow.

						
						
					.divider-line
					
					.card
						.card-header Couldn't find your question?
						.card-body
							p Get in Touch and we will come around with answer as soon as possible.
							.form-floating.mb-3
								select#floatingSelect.form-select(aria-label='Floating label select example')
									option(selected='') How it works
									option(value='1') Payments
									option(value='2') Account Verification
									option(value='3') Transfer Method
								label(for='floatingSelect') Select Subject

							.form-floating.mb-3
								textarea#floatingTextarea2.form-control(placeholder='Your question' style='height: 100px')
								label(for='floatingTextarea2') Your Question
							
							button.btn.btn-primary.btn-lg.rounded-pill(type='submit') Send Message

