extends _main2.pug
include inc/_components.pug

block title
	| Saved Payment Methods

block modals
	+payment-method-modal


block content
	
	// Header
	+header2('')
		a.form-toggle-btn.py-2.d-block.d-md-none.text-center.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") 
			span.hidden-on-collapse
				i.bx.bx-x 
				|  Cancel
			span.visible-on-collapse Send Money
		.bg-semilight.collapse#transactionSection
			.container.py-4.py-md-5
				.row.justify-content-center
					.col-12.col-md-7.col-xl-6
						+payment-form
		
	// end Header
	
	.account-content
		.container
			.row
				.col-12.col-lg-3
					a.btn.btn-lg.w-100.btn-primary.rounded-pill.mb-3.d-none.d-md-block.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") Send Money
					.overflow-hidden.mb-3
						ul.account-navigation
							li
								a(href='dashboard.html')
									i.bx.bx-home 
									|  Home
							li
								a(href='transactions.html')
									i.bx.bx-time 
									|  Transaction History
							li
								a(href='recipients.html')
									i.bx.bx-group 
									|  Recipients
							li
								a.active(href='payment-methods.html')
									i.bx.bx-credit-card 
									|  Payment Methods
							li
								a(href='receive-methods.html')
									i.bx.bx-money 
									|  Money Receive Methods
							li
								a(href='settings.html')
									i.bx.bx-cog 
									|  Settings
						
				.col-12.col-lg-9
					.dashboard-section
						.dashboard-section-header
							h3.dashboard-section-title Saved Payment Methods
							
						.row.row-cols-2.row-cols-lg-3.row-cols-xl-4.g-3.mt-md-1
							.col
								.account-card
									.card-body
										.dropdown.account-card-dropdown
											a#cardBtn01.btn(data-bs-toggle='dropdown' aria-expanded='false')
												i.bx.bx-dots-vertical-rounded
											ul.dropdown-menu.dropdown-menu-end.text-md(aria-labelledby='cardBtn01')
												li
													a.dropdown-item(href='#') Action
												li
													a.dropdown-item(href='#') Another action
												li
													a.dropdown-item(href='#') Something else here
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
							
							.col
								.account-card
									.card-body
										.dropdown.account-card-dropdown
											a#cardBtn01.btn(data-bs-toggle='dropdown' aria-expanded='false')
												i.bx.bx-dots-vertical-rounded
											ul.dropdown-menu.dropdown-menu-end.text-md(aria-labelledby='cardBtn01')
												li
													a.dropdown-item(href='#') Action
												li
													a.dropdown-item(href='#') Another action
												li
													a.dropdown-item(href='#') Something else here
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
												
							.col
								.account-card
									.card-body
										.dropdown.account-card-dropdown
											a#cardBtn01.btn(data-bs-toggle='dropdown' aria-expanded='false')
												i.bx.bx-dots-vertical-rounded
											ul.dropdown-menu.dropdown-menu-end.text-md(aria-labelledby='cardBtn01')
												li
													a.dropdown-item(href='#') Action
												li
													a.dropdown-item(href='#') Another action
												li
													a.dropdown-item(href='#') Something else here
										.text-center
											img(src='./img/mastercard-logo.svg' height='32' alt='MasterCard Card')
											.mt-2
												.text-md.fw-bold.text-truncate MasterCard *4990
							.col
								+account-add-btn('#paymentMethodModal')
												
							