extends _main2.pug
include inc/_components.pug

block title
	| Saved Receive Methods

block modals


block content
	
	// Header
	+header2('')
		a.form-toggle-btn.py-2.d-block.d-md-none.text-center.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") 
			span.hidden-on-collapse
				i.bx.bx-x 
				|  Cancel
			span.visible-on-collapse Send Money
		.bg-semilight.collapse#transactionSection
			.container.py-4.py-md-5
				.row.justify-content-center
					.col-12.col-md-7.col-xl-6
						+payment-form
		
	// end Header
	
	.account-content
		.container
			.row
				.col-12.col-lg-3
					a.btn.btn-lg.w-100.btn-primary.rounded-pill.mb-3.d-none.d-md-block.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") Send Money
					.overflow-hidden.mb-3
						ul.account-navigation
							li
								a(href='dashboard.html')
									i.bx.bx-home 
									|  Home
							li
								a(href='transactions.html')
									i.bx.bx-time 
									|  Transaction History
							li
								a(href='recipients.html')
									i.bx.bx-group 
									|  Recipients
							li
								a(href='payment-methods.html')
									i.bx.bx-credit-card 
									|  Payment Methods
							li
								a.active(href='receive-methods.html')
									i.bx.bx-money 
									|  Money Receive Methods
							li
								a(href='settings.html')
									i.bx.bx-cog 
									|  Settings
						
				.col-12.col-lg-9
					.dashboard-section
						.dashboard-section-header
							h3.dashboard-section-title Saved Money Receive Methods
							
						.row.row-cols-2.row-cols-lg-3.row-cols-xl-4.g-3.mt-md-1
							.col
								.card-check.h-100.d-flex
									.recipient-grid-item.account-card.scale-on-hover
										.card-body.h-100.d-flex.flex-column
											.dropdown.account-card-dropdown
												a.btn(data-bs-toggle='dropdown' aria-expanded='false')
													i.bx.bx-dots-vertical-rounded
												ul.dropdown-menu.dropdown-menu-end.text-md
													li
														a.dropdown-item(href='#') Action
													li
														a.dropdown-item(href='#') Another action
													li
														a.dropdown-item(href='#') Something else here
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-7.png' width='60%' alt='Orange Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *5919
											.recipient-content-control
												a.btn.btn-sm.btn-primary.w-100(href='#0') Receive Funds
							
							.col
								.card-check.h-100.d-flex
									.recipient-grid-item.account-card.scale-on-hover
										.card-body.h-100.d-flex.flex-column
											.dropdown.account-card-dropdown
												a.btn(data-bs-toggle='dropdown' aria-expanded='false')
													i.bx.bx-dots-vertical-rounded
												ul.dropdown-menu.dropdown-menu-end.text-md
													li
														a.dropdown-item(href='#') Action
													li
														a.dropdown-item(href='#') Another action
													li
														a.dropdown-item(href='#') Something else here
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-8.png' width='60%' alt='MTN Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +868******18485
											.recipient-content-control
												a.btn.btn-sm.btn-primary.w-100(href='#0') Receive Funds
							
							.col
								.card-check.h-100.d-flex
									.recipient-grid-item.account-card.scale-on-hover
										.card-body.h-100.d-flex.flex-column
											.dropdown.account-card-dropdown
												a.btn(data-bs-toggle='dropdown' aria-expanded='false')
													i.bx.bx-dots-vertical-rounded
												ul.dropdown-menu.dropdown-menu-end.text-md
													li
														a.dropdown-item(href='#') Action
													li
														a.dropdown-item(href='#') Another action
													li
														a.dropdown-item(href='#') Something else here
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-10.png' width='60%' alt='Cashplus') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *1244
											.recipient-content-control
												a.btn.btn-sm.btn-primary.w-100(href='#0') Receive Funds
							
							.col
								.card-check.h-100.d-flex
									.recipient-grid-item.account-card.scale-on-hover
										.card-body.h-100.d-flex.flex-column
											.dropdown.account-card-dropdown
												a.btn(data-bs-toggle='dropdown' aria-expanded='false')
													i.bx.bx-dots-vertical-rounded
												ul.dropdown-menu.dropdown-menu-end.text-md
													li
														a.dropdown-item(href='#') Action
													li
														a.dropdown-item(href='#') Another action
													li
														a.dropdown-item(href='#') Something else here
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-11.png' width='60%' alt='Airtel Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +76829*****482
											.recipient-content-control
												a.btn.btn-sm.btn-primary.w-100(href='#0') Receive Funds
							
							.col
								.card-check.h-100.d-flex
									.recipient-grid-item.account-card.scale-on-hover
										.card-body.h-100.d-flex.flex-column
											.dropdown.account-card-dropdown
												a.btn(data-bs-toggle='dropdown' aria-expanded='false')
													i.bx.bx-dots-vertical-rounded
												ul.dropdown-menu.dropdown-menu-end.text-md
													li
														a.dropdown-item(href='#') Action
													li
														a.dropdown-item(href='#') Another action
													li
														a.dropdown-item(href='#') Something else here
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-12.png' width='60%' alt='GTBank') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder Account ending *5999
											.recipient-content-control
												a.btn.btn-sm.btn-primary.w-100(href='#0') Receive Funds
							.col
								+account-add-btn
												
							