extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='receiver-info.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Receiver Information
			a.transfer-progress-step.step-done(href='deposit-account.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Deposit Account Details
			a.transfer-progress-step.step-done(href='confirmation.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h2.mb-3.mb-md-3.text-center Money Deposited
					
					.card.card-body
						.row
							.col-12.col-md-4.mb-3.mb-md-0
								.d-flex.align-items-center.justify-content-center.h-100
									img(src='./img/logo-1.png' alt='Western Union' width='60%')
							.col-12.col-md-8
								dl.row
									dt.col-6 Sender:
									dd.col-6 Western Union
									dt.col-6 Pickup Code:
									dd.col-6 XXXXXXXX
									dt.col-6 Confirmation Number:
									dd.col-6 XXXXXXXX
									
									dt.col-6 Thank You!
					
					
						
					.mt-4
						a.btn.w-100.btn-primary.btn-lg.btn-block(href='#0') Pickup Another Transfer
					.mt-4
						a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='#0') Dashboard
		
