extends _main.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header
	+header('')
	// end Header
	.py-3.py-lg-5.mb-4
		.container
			.row.justify-content-center
				.col-12.col-md-8.col-lg-6
					.text-center
						h1 Log In or Sign Up to Receive Funds
						p.lead.text-muted Use your phone number and password
					
					
					.card.mb-2
						.card-body.px-4.px-md-5.py-4.pt-md-5
							ul#myTab.nav.nav-tabs.border-0.mb-3.mb-md-4(role='tablist')
								li.nav-item.me-3(role='presentation')
									a.h4.text-muted.active-dark.cursor-pointer#login-tab.active(data-bs-toggle='tab' data-bs-target='#login' role='tab' aria-controls='login' aria-selected='true') Log In
								li.nav-item(role='presentation')
									a.h4.text-muted.active-dark.cursor-pointer#signup-tab(data-bs-toggle='tab' data-bs-target='#signup' role='tab' aria-controls='signup' aria-selected='false') Register
								
							#myTabContent.tab-content
								#login.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='login-tab')
									.form-floating.mb-2.mb-md-3
										input#loginPhone.form-control(type='text' placeholder='Phone Number')
										label(for='loginPhone') Phone Number
										#phoneHelp.form-text.d-block.text-start In international format. I.e., +75714772857
										
									.form-floating.mb-3
										input#loginPassword.form-control(type='password' placeholder='Password')
										label(for='loginPassword') Password
									
									.d-flex.mt-3.py-1.justify-content-between.align-items-center
										a.btn.btn-primary.btn-lg.px-5.rounded-pill(href='receiver-info.html') Log In
										a.text-md.text-muted(href='#0') Forgot password?
										
								#signup.tab-pane.fade(role='tabpanel' aria-labelledby='signup-tab')
									.text-md.text-start.text-danger.mb-2 All fields are required
									.form-floating.mb-3
										input#firstName.form-control(type='text' placeholder='First Name')
										label(for='firstName') First Name
									.form-floating.mb-3
										input#lastName.form-control(type='text' placeholder='Last Name')
										label(for='lastName') Last Name
									.form-floating.mb-3
										select#floatingSelect.form-select(aria-label='Select Country')
											option(selected='') Select Country
											option(value='1') Ghana
											option(value='2') Senegal
										label(for='floatingSelect') Select Country
									
									.row.g-2
										.col-4
											.form-floating.mb-3
												input#countryCode.form-control(type='text' placeholder='Country Code' value='+582' disabled)
												label(for='countryCode') Country Code
										.col-8
											.form-floating.mb-3
												input#phoneNumber2.form-control(type='text' placeholder='Phone Number')
												label(for='phoneNumber2') Phone Number
									
									.mb-3.form-check
										input#exampleCheck1.form-check-input(type='checkbox')
										label.form-check-label.text-start(for='exampleCheck1') I agree with Terms & Conditions
									
									.d-flex.mt-3.py-1.justify-content-center
										button.btn.btn-lg.btn-primary.px-5.rounded-pill(type='submit') Create Account
					
					.card.mb-2
						.card-body.p-3.p-md-4
							h6.text-center.mb-3 Or Claim your money with our mobile app!
							.d-flex.justify-content-center
								a.me-1(href='#0')
									img(src='./img/google-play-btn.svg' alt='Get it on Google Play')
								a(href='#0')
									img(src='./img/app-store-btn.svg' alt='Download on the App Store')