extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header
	// Header
	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-current(href='receiver-info.html')
				.transfer-progress-step-number 1
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Receiver Information
			a.transfer-progress-step(href='add-to-balance.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Deposit Account Details
			a.transfer-progress-step(href='confirmation.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		
		
		
		
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					
					.card.card-body.mb-3.text-center
						h4.alert-heading Profile Created!
						p.text-muted Please verify your account to start using our service
						a.btn.btn-primary(href='#') Verify Now
					
					.divider-line
					h3.mb-3.mb-md-2 Select Sending Company
					form
						.row.recipient-grid.row-cols-2.row-cols-lg-3.g-3.mt-md-1.justify-content-stretch
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault1.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault1')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-1.png' width='60%' alt='Money Gram') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate MoneyGram
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault2.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault2')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-2.png' width='60%' alt='Western Union') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Western Union
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault3.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault3')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-3.png' width='60%' alt='World Remit') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate World Remit
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault4.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault4')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-4.png' width='60%' alt='Xoom') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Xoom
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault5.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault5')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-5.png' width='60%' alt='Yahwii') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Yahwii
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault6.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault6')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-6.png' width='60%' alt='Transferwise') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder Transferwise
												
												
						.divider-line
						.form-floating.mb-3
							input#amountReceive.form-control(type='text' placeholder='Amount')
							label(for='amountReceive') How much are you receiving?
					
						.form-floating.mb-3
							select#currencySelect.form-select(aria-label='Currency')
								option(selected='') Select Currency
								option(value='1') CAD
								option(value='2') GHN
							label(for='currencySelect') Currency
						.form-floating.mb-3
							input#pickupCode.form-control(type='text' placeholder='Pickup Code')
							label(for='pickupCode') Pickup Code
								
						.mt-4
							a.btn.w-100.btn-primary.btn-lg.btn-block(href='add-to-balance.html') Next
		
