extends _main2.pug
include inc/_components.pug

block title
	| Recipients

block modals
	+new-recipient-modal
block content
	
	// Header
	+header2('')
		a.form-toggle-btn.py-2.d-block.d-md-none.text-center.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") 
			span.hidden-on-collapse
				i.bx.bx-x 
				|  Cancel
			span.visible-on-collapse Send Money
		.bg-semilight.collapse#transactionSection
			.container.py-4.py-md-5
				.row.justify-content-center
					.col-12.col-md-7.col-xl-6
						+payment-form
		
	// end Header
	
	.account-content
		.container
			.row
				.col-12.col-lg-3
					a.btn.btn-lg.w-100.btn-primary.rounded-pill.mb-3.d-none.d-md-block.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") Send Money
					.overflow-hidden.mb-3
						ul.account-navigation
							li
								a(href='dashboard.html')
									i.bx.bx-home 
									|  Home
							li
								a(href='transactions.html')
									i.bx.bx-time 
									|  Transaction History
							li
								a.active(href='recipients.html')
									i.bx.bx-group 
									|  Recipients
							li
								a(href='payment-methods.html')
									i.bx.bx-credit-card 
									|  Payment Methods
							li
								a(href='receive-methods.html')
									i.bx.bx-money 
									|  Money Receive Methods
							li
								a(href='settings.html')
									i.bx.bx-cog 
									|  Settings
						
				.col-12.col-lg-9
					.dashboard-section
						.dashboard-section-header
							h3.dashboard-section-title Recipients
							a.text-md(href='#0' data-bs-toggle='modal' data-bs-target="#newRecipientModal") Add New
						.md-title.mb-2.mt-1 Featured
						.row.gy-2
							+recipient-list-item('card-01', 'featured')
							+recipient-list-item('card-02', 'featured')
						
						.divider-line
						
						.md-title.mb-2 Other Recipients
						.row.gy-2
							+recipient-list-item('card-03', '')
							+recipient-list-item('card-04', '')
							+recipient-list-item('card-05', '')
							+recipient-list-item('card-06', '')