extends _main2.pug
include inc/_components.pug

block title
	| Account Settings

block modals


block content
	
	// Header
	+header2('')
		a.form-toggle-btn.py-2.d-block.d-md-none.text-center.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") 
			span.hidden-on-collapse
				i.bx.bx-x 
				|  Cancel
			span.visible-on-collapse Send Money
		.bg-semilight.collapse#transactionSection
			.container.py-4.py-md-5
				.row.justify-content-center
					.col-12.col-md-7.col-xl-6
						+payment-form
		
	// end Header
	
	.account-content
		.container
			.row
				.col-12.col-lg-3
					a.btn.btn-lg.w-100.btn-primary.rounded-pill.mb-3.d-none.d-md-block.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") Send Money
					.overflow-hidden.mb-3
						ul.account-navigation
							li
								a(href='dashboard.html')
									i.bx.bx-home 
									|  Home
							li
								a(href='transactions.html')
									i.bx.bx-time 
									|  Transaction History
							li
								a(href='recipients.html')
									i.bx.bx-group 
									|  Recipients
							li
								a(href='payment-methods.html')
									i.bx.bx-credit-card 
									|  Payment Methods
							li
								a(href='receive-methods.html')
									i.bx.bx-money 
									|  Money Receive Methods
							li
								a.active(href='settings.html')
									i.bx.bx-cog 
									|  Settings
						
				.col-12.col-lg-9
					.dashboard-section
						.dashboard-section-header.mb-3
							h3.dashboard-section-title Settings
						
						.card.mb-3
							.card-header Personal Information
							.card-body
								.row.justify-content-center
									.col-11.col-md-8.col-lg-6
										.form.py-4
											.form-floating.mb-3
												input#firstName.form-control(type='text' placeholder='First Name' value='John')
												label(for='firstName') First Name
											.form-floating.mb-3
												input#middleName.form-control(type='text' placeholder='Last Name' value='Doe')
												label(for='middleName') Middle Name (optional)
											.form-floating.mb-3
												input#lastName.form-control(type='text' placeholder='Last Name' value='Doe')
												label(for='lastName') Last Name
											.form-floating.mb-3
												input#emailAddress.form-control(type='email' placeholder='name@example.com' value='name@example.com')
												label(for='emailAddress') Email
											.form-floating.mb-3
												input#phoneNumber.form-control(type='text' placeholder='Phone Number' value='+588 58885 9294')
												label(for='phoneNumber') Phone (optional)
											.mt-4
												button.btn.btn-primary.rounded-pill.w-100(type='submit') Save Changes

									
						.card
							.card-header Password
							.card-body
								.row.justify-content-center
									.col-11.col-md-8.col-lg-6
										.form.py-4
											.form-floating.mb-3
												input#oldPassword.form-control(type='password' placeholder='Old Password')
												label(for='oldPassword') Old Password
											hr
											.form-floating.mb-3
												input#newPassword.form-control(type='password' placeholder='New Password')
												label(for='newPassword') New Password
											.form-floating.mb-3
												input#newPasswordConfirm.form-control(type='password' placeholder='Confirm New Password')
												label(for='newPasswordConfirm') Confirm New Password
											.mt-4
												button.btn.btn-primary.rounded-pill.w-100(type='submit') Change Password