extends _main.pug
include inc/_components.pug

block title
	| Homepage

block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header
	+header('')
	// end Header
	
	
	.container.pt-0.pt-lg-5.pb-5.mb-5
		.row.justify-content-center
			.col-11.col-md-6.col-xl-4

				h3.mb-4 Create Account

				.d-grid.gap-2.mb-3
					a.btn.btn-fb.btn-lg.rounded-pill.btn-block(href='dashboard.html')
						i.bx.bxl-facebook-circle.me-2
						| Continue with Facebook
					a.btn.btn-gl.btn-lg.rounded-pill.btn-block(href='dashboard.html')
						i.bx.bxl-google.me-2
						| Continue with Google

				.divider-line

				.md-title or Register using your email and password
				.form-floating.mb-3
					input#loginEmail.form-control(type='email' placeholder='name@example.com')
					label(for='loginEmail') Email address
				.form-floating.mb-3
					input#loginPassword.form-control(type='password' placeholder='Password')
					label(for='loginPassword') Password
				.form-floating.mb-3
					input#confirmPassword.form-control(type='password' placeholder='Confirm Password')
					label(for='confirmPassword') Confirm Password

				.d-flex.mt-3.py-1.justify-content-center
					button.btn.btn-lg.btn-primary.px-5.rounded-pill(type='submit') Create Account

				.divider-line

				.md-title Already Have an account?
				a.btn.btn-outline-primary.w-100.border-2.rounded-pill.btn-lg(data-bs-toggle='modal' data-bs-target='#loginModal') Sign In
				