extends _main3.pug
include inc/_components.pug

block title
	| Select Recipient

block modals


block content
	
	// Header
	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='transfer-step1.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Transfer  
					|  Options
			a.transfer-progress-step.step-done(href='transfer-step2.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Recipient
			a.transfer-progress-step.step-current(href='transfer-step3.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Payment
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-md-6
					
					.dashboard-section-header
						h3.dashboard-section-title Select Payment Method
						
					.row.recipient-grid.row-cols-2.row-cols-lg-3.g-3.mt-md-1.align-items-stretch
						
						.col
							.card-check
								input#flexRadioDefault1.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault1')
									.card-body
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
											
											
						.col
							.card-check
								input#flexRadioDefault2.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault2')
									.card-body
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
						
						
						.col
							.card-check
								input#flexRadioDefault3.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault3')
									.card-body
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
						.col
							.card-check
								input#flexRadioDefault4.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault4')
									.card-body
										.dropdown.account-card-dropdown
											a#cardBtn01.btn(data-bs-toggle='dropdown' aria-expanded='false')
												i.bx.bx-dots-vertical-rounded
											ul.dropdown-menu.dropdown-menu-end.text-md(aria-labelledby='cardBtn01')
												li
													a.dropdown-item(href='#') Action
												li
													a.dropdown-item(href='#') Another action
												li
													a.dropdown-item(href='#') Something else here
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
					.row
						.col-12
							.divider-line
					
					.row
						.col-12
							.card
								.card-body
									.md-title.m-0 Use New Card to make a payment
									.my-2
										input.form-control(type='text' placeholder='Stripe Card Form comes here')
									.form-check
										input#rememberCard.form-check-input(type='checkbox' value='')
										label.form-check-label(for='rememberCard')
											| Save this card for future payments
								
				
				.col-md-5.col-xl-3.offset-xl-1
					.card.mt-4.mt-md-0
						.card-header
							h6.mb-0.py-1 Transaction Summary
						ul.list-group.list-group-flush.text-md
							li.list-group-item.d-flex.align-items-center
								i.country-flag
									img.me-2(src='./img/flag-ghana.svg' height='24')
								|  Ghana
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 You are sending
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Transaction fee
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Your total
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Recipient receives
								span.text-muted GHS
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Exchange rate *
								span 1 USD = 5.5653 GHS
							li.list-group-item.text-dark
								.text-xs Transfers subject to review and may be delayed or stopped if an issue is identified. We may wait for payment before sending your transfer.
				
				
				
			.row.justify-content-start
				.col-md-12.col-lg-7.col-xl-6.offset-xl-1
					
					.d-flex.justify-content-between.mt-4.pt-4.border-top
						a.btn.btn-light.text-muted.rounded-pill.btn-lg.px-4(href='transfer-step2.html') Back
						a.btn.btn-primary.rounded-pill.btn-lg.px-4(href='transfer-success.html') Pay 105.4 USD
				
				
				
				
				