extends _main2.pug
include inc/_components.pug

block title
	| Transaction History

block modals
	+transaction-details-modal
block content
	
	// Header
	+header2('')
		a.form-toggle-btn.py-2.d-block.d-md-none.text-center.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") 
			span.hidden-on-collapse
				i.bx.bx-x 
				|  Cancel
			span.visible-on-collapse Send Money
		.bg-semilight.collapse#transactionSection
			.container.py-4.py-md-5
				.row.justify-content-center
					.col-12.col-md-7.col-xl-6
						+payment-form
		
	// end Header
	
	.account-content
		.container
			.row
				.col-12.col-lg-3
					a.btn.btn-lg.w-100.btn-primary.rounded-pill.mb-3.d-none.d-md-block.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") Send Money
					.overflow-hidden.mb-3
						ul.account-navigation
							li
								a(href='dashboard.html')
									i.bx.bx-home 
									|  Home
							li
								a.active(href='transactions.html')
									i.bx.bx-time 
									|  Transaction History
							li
								a(href='recipients.html')
									i.bx.bx-group 
									|  Recipients
							li
								a(href='payment-methods.html')
									i.bx.bx-credit-card 
									|  Payment Methods
							li
								a(href='receive-methods.html')
									i.bx.bx-money 
									|  Money Receive Methods
							li
								a(href='settings.html')
									i.bx.bx-cog 
									|  Settings
						
				.col-12.col-lg-9
					.dashboard-section
						.dashboard-section-header
							h3.dashboard-section-title Transactions
						
						.md-title.mb-2.mt-1 Yesterday
						.row.gy-2
							+transaction-list-item('card-01', 'bg-warning', 'In Progress')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details
							+transaction-list-item('card-02', 'bg-success', 'Sent')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details
						
						.md-title.mb-2 Earlier this week
						.row.gy-2
							+transaction-list-item('card-03', 'bg-warning', 'In Progress')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details
							+transaction-list-item('card-04', 'bg-danger', 'Cancelled')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details
							+transaction-list-item('card-05', 'bg-danger', 'Cancelled')
								.row
									.col-12.col-md-8
										+transaction-timeline
									.col-12.col-md-4.text-md-end
										a.btn.btn-light.btn-sm(href='#0' data-bs-toggle='modal' data-bs-target='#transactionDetailsModal') View Transfer Details