extends _main3.pug
include inc/_components.pug

block title
	| Select Recipient

block modals
	+verification-modal
block content
	
	// Header
	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='transfer-step1.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Transfer  
					|  Options
			a.transfer-progress-step.step-done(href='transfer-step2.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Recipient
			a.transfer-progress-step.step-done(href='transfer-step3.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Payment
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-md-8.col-lg-6
					h2.text-center.border-bottom.pb-4.mb-3 Transfer request successfully received
					
					+transaction-timeline
					
					.mt-4.pt-4.border-top
						.alert.alert-info.text-center
							h5 Before you go please verify your account.
							p Just upload your ID and we start verification process. 
							a.btn.btn-info.rounded-pill.w-100(data-bs-toggle='modal' data-bs-target='#verificationModal') Select Documents to Upload
					
					.d-flex.justify-content-center.mt-4.pt-4.border-top
						
						a.btn.btn-primary.rounded-pill.btn-lg.px-4.mx-2.disabled(href='dashboard.html') Back to Dashboard
						a.btn.btn-light.text-muted.rounded-pill.btn-lg.px-4.mx-2.disabled(href='transactions.html') See Transfer Details
				
				
				
				
				