extends _main3.pug
include inc/_components.pug

block title
	| Transfer Options

block modals

block content
	
	// Header
	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-current(href='transfer-step1.html')
				.transfer-progress-step-number 1
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Transfer  
					|  Options
			a.transfer-progress-step(href='transfer-step2.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Recipient
			a.transfer-progress-step(href='transfer-step3.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Payment
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-md-6
					
					h3.mb-3.d-flex.align-items-center Send Money to
						| &nbsp;
						span.text-primary  Ghana  
						a.badge.bg-info.text-xs.text-white.ms-2(href='#0') Change
					.payment-form-row
						.payment-form-input
							input#amountToSend(type='text' placeholder='Select Amount to Send' value='100')
							label(for='amountToSend') You Send
						.payment-form-select
							.select-image
								input(type='hidden' value='')
								// Selected option
								.select-image-input
									img(src='./img/flag-usa.svg')
									|  USD
								i.bx.bx-chevron-down.ms-auto
								// List of options
								.select-image-list
									+currency-list-item('./img/flag-usa.svg', 'USD', 'United States', 'usa')
									+currency-list-item('./img/flag-canada.svg', 'CAD', 'Canada', 'canada')

					.payment-form-row
						.payment-form-input
							input#amountToReceive(type='text' placeholder='Recipient Gets' value='5868.55')
							label(for='amountToReceive') Recipient Gets
						.payment-form-select
							.select-image
								input(type='hidden' value='')
								// Selected option
								.select-image-input
									img(src='./img/flag-ghana.svg')
									|  GHS
								i.bx.bx-chevron-down.ms-auto
								// List of options
								.select-image-list
									+currency-list-item('./img/flag-ghana.svg', 'GHS', 'Ghana', 'ghana')
									+currency-list-item('./img/flag-sierra-leone.svg', 'SLS', 'Sierra Leone', 'sierra-leone')
									+currency-list-item('./img/flag-liberia.svg', 'LRD', 'Liberia', 'liberia')
									+currency-list-item('./img/flag-nigeria.svg', 'NGN', 'Nigeria', 'nigeria')
									+currency-list-item('./img/flag-senegal.svg', 'XOF', 'Senegal', 'senegal')
									+currency-list-item('./img/flag-cot-d-ivoir.svg', 'XOF', "Cote d'Ivoire", 'cote-d-ivoire')
									+currency-list-item('./img/flag-guinea.svg', 'GFR', "Guinea", 'guinea')

					.mt-3.mb-4
						.text-md.text-muted Exchange rate:
						.text-dark 1 USD = 125.12 GHS * 
							a.badge.bg-info.text-white(href='#0') Show Fees
					
					h5.mb-3 Select money pickup method
					
					#accordionExample.accordion
						.accordion-item
							#headingOne.accordion-header.bg-white
								.accordion-button(data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
									.form-check.m-0.d-flex.align-items-center
										input#flexRadioDefault1.form-check-input.my-0(type='radio' name='flexRadioDefault' checked='')
										label.form-check-label.text-lg.mb-0.ms-2(for='flexRadioDefault1')
											| Bank Deposit
									
							#collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
								.accordion-body.text-md
									| This is the third item's accordion body.
									|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.
									
						.accordion-item
							#headingTwo.accordion-header.bg-white
								.accordion-button.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
									.form-check.m-0.d-flex.align-items-center
										input#flexRadioDefault2.form-check-input.my-0(type='radio' name='flexRadioDefault')
										label.form-check-label.text-lg.ms-2(for='flexRadioDefault2')
											| Cash Pickup
							#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
								.accordion-body.text-md
									| This is the third item's accordion body.
									|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.
						
						
						.accordion-item
							#headingThree.accordion-header.bg-white
								.accordion-button.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
									.form-check.m-0.d-flex.align-items-center
										input#flexRadioDefault3.form-check-input.my-0(type='radio' name='flexRadioDefault')
										label.form-check-label.text-lg.ms-2(for='flexRadioDefault3')
											| Mobile Topup
							#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
								.accordion-body.text-md
									| This is the third item's accordion body.
									|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.

					
				.col-md-5.col-xl-3.offset-xl-1
					.card.mt-4.mt-md-0
						.card-header
							h6.mb-0.py-1 Transaction Summary
						ul.list-group.list-group-flush.text-md
							li.list-group-item.d-flex.align-items-center
								i.country-flag
									img.me-2(src='./img/flag-ghana.svg' height='24')
								|  Ghana
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 You are sending
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Transaction fee
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Your total
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Recipient receives
								span.text-muted GHS
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Exchange rate *
								span 1 USD = 5.5653 GHS
							li.list-group-item.text-dark
								.text-xs Transfers subject to review and may be delayed or stopped if an issue is identified. We may wait for payment before sending your transfer.
				
				
				
			.row.justify-content-start
				.col-md-12.col-lg-7.col-xl-6.offset-xl-1
					
					.d-flex.justify-content-between.mt-4.pt-4.border-top
						a.btn.btn-light.text-muted.rounded-pill.btn-lg.px-4(href='dashboard.html') Back
						a.btn.btn-primary.rounded-pill.btn-lg.px-4(href='transfer-step2.html') Continue
				
				
				
				
				