extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+deposit-method-modal
	+verification-code-modal
	
block content
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-current(href='withdraw.html')
				.transfer-progress-step-number 1
				.transfer-progress-step-name Withdrawal Info
			a.transfer-progress-step(href='withdrawal-success.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h3.mb-4.mb-md-3 Available Balance 
						span.text-primary 250.00 CAD
					.row
						.col-12
							.form-floating.mb-3
								input#amountReceive.form-control(type='number' placeholder='Amount')
								label(for='amountReceive') How much would you like to withdraw (CAD)?
						.col-12
							.form-check.form-switch.bg-light.p-2
								input#flexSwitchCheckDefault.form-check-input.ms-2.me-3(type='checkbox' role='switch')
								label.form-check-label.d-block(for='flexSwitchCheckDefault') Transfer All
					
					.divider-line
					h3.mb-3.mb-md-2 Choose Withdrawal Method
					form
						.row.recipient-grid.row-cols-2.row-cols-lg-3.g-3.mt-md-1.justify-content-stretch
						
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault1.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault1')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-7.png' width='60%' alt='Orange Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *5919
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault2.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault2')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-8.png' width='60%' alt='MTN Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +868******18485
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault4.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault4')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-10.png' width='60%' alt='Cashplus') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *1244
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault5.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault5')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-11.png' width='60%' alt='Airtel Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +76829*****482
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault6.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault6')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-12.png' width='60%' alt='GTBank') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder Account ending *5999
							
							.col
								a.card-check.h-100.d-flex(href='#' data-bs-toggle='modal' data-bs-target='#depositMethodModal')
									.recipient-grid-item.account-card
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-9.png' width='60%' alt='Ecobank') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate.text-info Add Your Ecobank Account
												
												
						.divider-line
						label.mb-2 Your Signature to Confirm Transaction
						.card.card-body(style='height:240px')
							.row
								.col
									p.text-md Sign inside the box
								.col.text-end
									a.text-md(href='#') Clear
						.mt-4
							a.btn.w-100.btn-primary.btn-lg.btn-block(href='withdrawal-success.html') Next
						.mt-4
							a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='dashboard.html') Cancel
		
