extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='withdraw.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Withdrawal Info
			a.transfer-progress-step.step-current(href='withdrawal-success.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h2.mb-3.text-center Transaction Successful!
					.card
						.card-body
							dl.row.mb-0
								dt.col-6 Receiver:
								dd.col-6 Abdoulaye Bah
								dt.col-6 Sending from:	
								dd.col-6 Your BNB Account
								dt.col-6 Amount Received:
								dd.col-6 500.00 CAD
								dt.col-6 Deposit to:
								dd.col-6 Cashplus
								dt.col-6 Account:
								dd.col-6 459838
					
					
					.mt-4
						a.btn.w-100.btn-primary.btn-lg.btn-block(href='dashboard.html') My Dashboard
